<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/communityPage/communityHome.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">

</head>
<body>
    
    <th:block th:replace="~{common/header}"></th:block>

    <section class="body">

        <div id="post-category-header">
            <div class="text-size-24 bold-text" th:text="${board.categoryName}">일상</div>
            <div><a href="#" class="text-size-16 medium-text">목록</a></div>
        </div>

        <div class="row1">

            <!-- 글쓴이 -->
            <div class="user-info">

                <!-- 프로필 사진 -->
                <div class="profile-img">
                    <!-- 프로필 사진 없는 경우 -->
                    <img th:unless="${board.profilePath}" th:src="@{/images/svg/just-dashima.svg}">

                    <!-- 프로필 사진 있는 경우 -->
                    <img th:if="${board.profilePath}" th:src="${board.profilePath}">
                </div>
                <div class="info-text">
                    <div class="user-nick-name bold-text text-size-20" th:text="${board.memberNickname}">닉네임</div>
                    <span class="user-dong medium-text text-size-16" th:text="${board.defaultDong}">동네명</span>
                    <span>•</span>
                    <span class="post-date text-size-15" th:text="${board.boardCreateDate}">작성일</span>
                </div>
            </div>

            <!-- 신고 -->
            <div class="report">
                <div><img th:src="@{/images/svg/Siren.svg}" alt=""></div>
                <a th:href="@{#}" class="report-text text-size-14">신고</a>
            </div>
        </div>

        <!-- 제목 -->
        <div class="row2">
            <div class="post-detail-title text-size-24 bold-text" th:text="${board.boardTitle}">제목</div>

            <!-- 조회수 -->
            <div class="views-area">
                <div><img th:src="@{/images/svg/Eye.svg}" alt=""></div>
                <div class="text-size-14" th:text="${board.postViews}">조회수</div>
            </div>
        </div>

        <!-- 본문 -->
        <div class="row3">
            
            <!-- 본문 이미지 슬라이드 -->
            <div id="image-area" th:if="${#lists.size(board.imgList) > 1}">

                <!-- 왼쪽 버튼 (이미지가 2장 이상일 경우)-->
                <button id="left-btn" th:if="${#lists.size(board.imgList) > 1}"><img th:src="@{/images/svg/왼쪽.svg}"></button>
                <div id="image-slide">
                    <img th:each="img : ${board.imgList}" th:src="${img.imagePath}+${img.imageRename}">
                </div>

                <!-- 오른쪽 버튼 -->
                <button id="right-btn" th:if="${#lists.size(board.imgList) > 1}"><img th:src="@{/images/svg/오른쪽.svg}"></button>

                <!-- 도트 -->
                <div th:if="${#lists.size(board.imgList) > 1}" id="dot-area">
                    <img th:src="@{/images/svg/dot.svg}" class="dot">
                    <img th:each="i : ${#numbers.sequence(1, #lists.size(board.imgList)-1)}" th:src="@{/images/svg/dot.svg}" class="dot opacity">
                </div>
                <div th:unless="${#lists.size(board.imgList) > 1}" id="dot-area">
                    <img th:src="@{/images/svg/dot.svg}" class="dot">
                </div>
            </div>

            <div class="post-content-area">
                <div class="text-size-16 medium-text" th:text="${board.boardContent}">내용</div>
            </div>
        </div>

        <!-- 아이콘 영역 -->
        <div class="row4 post-icon">

            <div class="post-like">
                <img th:src="@{/images/svg/community-liked.svg}" alt="">
                <div th:text="${board.likeCount}">좋아요 수</div>
            </div>

            <div class="post-comment">
                <img th:src="@{/images/svg/comment.svg}" alt="">
                <div th:text="${board.commentCount}">댓글 수</div>
            </div>
        </div>

        <!-- 댓글 정렬 -->
        <div class="row5">
            <div class="sort-area">
                <a href="#" class="text-size-16 bold-text" data-sort-type="latest">최신순</a>
                <span>|</span>
                <a href="#" class="text-size-16" data-sort-type="popular">인기순</a>
            </div>
        </div>

        <!-- 댓글 쓰기 -->
        <div class="write-comment-row">
            <div class="write-box">
                <textarea name="write-comment-area" class="write-comment-area" placeholder="댓글을 입력하세요."></textarea>
            </div>
            <div class="comment-button-area"><button class="text-size-16 bold-text">댓글 달기</button></div>
        </div>

        <!-- 댓글 목록 -->
        <div class="comment-area" id="comment-list-area">

            <!-- 댓글 있는 경우 -->
            <th:block th:if="${#lists.size(board.commentList) > 0}">

                <th:block th:each="comment : ${board.commentList}">

                    <!-- 댓글 하나 -->
                    <div th:class="|parent-comment ${comment.parentCommentNo != 0 ? 'child-comment' : ''}|"
                         th:data-comment-no="${comment.commentNo}">

                        <!-- 프로필 사진 -->
                        <div class="comment-profile-img">
                            <!-- 프로필 사진 없는 경우 -->
                            <img th:unless="${comment.profileImage}" th:src="@{/images/svg/just-dashima.svg}">
        
                            <!-- 프로필 사진 있는 경우 -->
                            <img th:if="${comment.profileImage}" th:src="${comment.profileImage}">
                        </div>
        
                        <div class="comment-info-area">
                            <!-- 닉네임 -->
                            <div class="comment-info">
                                <span class="bold-text">[[${comment.memberNickname}]]</span>
                                <span>•</span>
                                <span class="text-size-14">[[${comment.commentCreateDate}]]</span>
                            </div>
            
                            <!-- 댓글 내용 -->
                            <div class="comment-content">
                                [[${comment.commentContent}]]
                            </div>
        
                            <!-- 아이콘 영역 -->
                            <div class="comment-icon">
                                <div>
                                    <div class="comment-comment">
                                        <!-- 답글의 개수 -->
                                        <img th:src="@{/images/svg/comment.svg}" th:if="${comment.parentCommentNo == 0}">
                                        <div th:if="${comment.childCommentCount > 0}">[[${comment.childCommentCount}]]</div>
                                        <div th:unless="${comment.childCommentCount > 0}" th:if="${comment.parentCommentNo == 0}">0</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
        
                        <!-- 수정 삭제 버튼 -->
                        <div class="del-update-area">
                            <button class="update-btn medium-text">수정</button>
                            <!-- 부모 댓글인 경우에만 답글 버튼 보임 -->
                            <button class="reply-btn medium-text" th:if="${comment.parentCommentNo == 0}">답글</button>
                            <button class="delete-btn medium-text">삭제</button>
                        </div>
        
                    </div>

                </th:block>
            </th:block>

            <!-- 댓글이 없는 경우 -->
            <th:block th:if="${#lists.size(board.commentList) == 0}">
                <div id="no-post" class="text-size-20 medium-text">
                    등록된 댓글이 없습니다.<br>
                    첫 댓글의 주인공이 되어보세요!
                </div>
            </th:block>


            <!-- 답글 작성칸 -->
            <div class="reply-form">
                <div class="reply-input-area">
                    <div class="comment-profile-img"><img th:src="@{/images/community/우사기.jpg}" alt=""></div>
                    <textarea class="reply-textarea" placeholder="답글을 입력하세요."></textarea>
                </div>

                <div class="reply-btn-area">
                    <button class="reply-cancel-btn">취소</button>
                    <button class="reply-submit-btn">등록</button>
                </div>
            </div>
        </div>

        </div>

    </section>

    <th:block th:replace="~{common/footer}"></th:block>

    <script th:inline="javascript">
        // const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인한 회원 번호";
        // const memberNickname = /*[[${session.loginMember?.memberNickname}]]*/ "로그인한 회원 닉네임";
        
        // if(loginMemberNo == null) loginMemberNo = ""; // 빈칸 처리

        const boardNo = /*[[${board.boardNo}]]*/ "게시글 번호";
        const boardTitle = /*[[${board.boardTitle}]]*/ "게시글 제목";
    </script>

    <script th:src="@{/js/communityPage/communityDetail.js}"></script>
</body>
</html>