<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관심 게시글</title>
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/communityPage/communityHome.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body th:with="pagination=${map.pagination}, boardList=${map.boardList}">
    
    <th:block th:replace="~{/common/header}">header.html</th:block>

    <section class="body">

        <!-- 커뮤니티 관심 게시글 목록 -->
        <div id="community-list">
            
            <!-- 게시글이 있는 경우 -->
            <th:block th:if="${#lists.size(boardList) > 0}">
                <th:block th:each="community : ${boardList}">
                    <!-- 하나의 게시글 -->
                    <a th:href="@{/{boardType}/{communityNo}(boardType=${community.boardType}, communityNo=${community.communityNo}, cp=${pagination.currentPage})}" class="community-post">
                        <!-- 썸네일 영역 -->
                        <div class="post-thumbnail" th:if="${community.thumbnail != null}">
                            <img th:src="${community.thumbnail}" alt="">
                        </div>
        
                        <!-- 텍스트 영역 -->
                        <div class="post-text">
                            <!-- 제목 -->
                            <div class="post-title text-size-20 bold-text" th:text="${community.communityTitle}">제목</div>
        
                            <div class="post-info">
                                <!-- 닉네임 -->
                                <span class="post-nick medium-text" th:text="${community.memberNickname}">닉네임</span>
            
                                <span>•</span>
                                <!-- 작성일 -->
                                <span class="post-create-date" th:text="${community.communityCreateDate}">작성일</span>
                            </div>
        
                            <!-- 좋아요, 댓글 -->
                            <div class="post-icon">
        
                                <div class="post-like">
                                    <i class="fa-solid fa-heart" style="font-size: 23px;" id="like-heart"></i>
                                    <div th:text="${community.likeCount}">좋아요</div>
                                </div>
        
                                <div class="post-comment">
                                    <img th:src="@{/images/svg/comment.svg}" alt="">
                                    <div th:text="${community.commentCount}">댓글</div>
                                </div>
                            </div>
                        </div>
        
                    </a>
                </th:block>
            </th:block>

            <!-- 게시글이 없는 경우 -->
            <th:block th:if="${#lists.size(boardList) == 0}">
                <div id="no-post" class="text-size-20 medium-text">
                    관심 게시글이 없습니다.<br>
                    멋진 게시글에 좋아요를 눌러보세요!
                </div>
            </th:block>
        </div>


        <!-- 게시글이 있을 때만 페이지네이션 보이기! -->
        <div th:if="${#lists.size(boardList) > 0}" class="pagination">
    
            <!-- 첫 페이지로 이동 -->
            <!-- boardCode : @PathVariable로 request scope에 세팅된 값 -->
            <li><a th:href="@{/{boardType}/likeLists(boardType=${boardType}, cp=1)}">&lt;&lt;</a></li>

            <!-- 이전 목록 마지막 번호로 이동 -->
            <li><a th:href="@{/{boardType}/likeLists(boardType=${boardType}, cp=${pagination.prevPage})}">&lt;</a></li>

            
            <!-- 특정 페이지로 이동 -->
            <!-- #numbers.sequence(시작, 끝 [, step]) -->
            <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

                <!-- 현재 보고있는 페이지 -->
                <li th:if="${pagination.currentPage == i}">
                    <a class="current" th:text="${i}">현재 페이지</a>
                </li>
                
                <!-- 현재 페이지를 제외한 나머지 -->
                <li th:unless="${pagination.currentPage == i}">
                    <a th:href="@{/{boardType}/likeLists(boardType=${boardType}, cp=${i})}" 
                        th:text="${i}">나머지 페이지</a>
                </li>
            </th:block>

            
            <!-- 다음 목록 시작 번호로 이동 -->
            <li><a th:href="@{/{boardType}/likeLists(boardType=${boardType}, cp=${pagination.nextPage})}">&gt;</a></li>

            <!-- 끝 페이지로 이동 -->
            <li><a th:href="@{/{boardType}/likeLists(boardType=${boardType}, cp=${pagination.maxPage})}">&gt;&gt;</a></li>

        </div>

    </section>


    <th:block th:replace="~{/common/footer}">footer.html</th:block>
    
    <th:block th:if="${session.loginMember}">
        <th:block th:replace="~{chatting/chatting}">chatting.html</th:block>
        <script th:src="@{/js/chatting/chatting.js}"></script>
    </th:block>

    <script th:src="@{/js/communityPage/communityHome.js}"></script>
</body>
</html>