<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티</title>
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/communityPage/communityHome.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">

</head>
<body th:with="pagination=${pagination}, boardList=${boardList}">
    
    <th:block th:replace="~{/common/header}">header.html</th:block>

    <section class="body">

            <!-- 동네 -->
            <div id="select-city" class="bold-text">
                <div id="drop-down-icon"><img th:src="@{/images/svg/location_green.svg}"></div>
                <div id="city-name" class="text-size-24">여기는 "<span>관철동</span>"입니다</div>
            </div>


        <div id="category-container">
            <div id="category-drop-down-container">
                <a th:href="@{#}" class="active-category" data-category="all"><div class="text-size-20 medium-text">전체</div></a>
                
                <a th:href="@{#}" data-category="C100"><div class="text-size-20 medium-text">음식/음료</div></a>
                <a th:href="@{#}" data-category="C200"><div class="text-size-20 medium-text">일상</div></a>
                <a th:href="@{#}" data-category="C300"><div class="text-size-20 medium-text">병원/약국</div></a>
                
                <a th:href="@{#}" data-category="C400"><div class="text-size-20 medium-text">교육</div></a>
                <a th:href="@{#}" data-category="C500"><div class="text-size-20 medium-text">주거/부동산</div></a>
                <a th:href="@{#}" data-category="C600"><div class="text-size-20 medium-text">운동</div></a>
                <a th:href="@{#}" data-category="C700"><div class="text-size-20 medium-text">취미/오락</div></a>
                
                <a th:href="@{#}" data-category="C800"><div class="text-size-20 medium-text">문화/예술</div></a>
                <a th:href="@{#}" data-category="C900"><div class="text-size-20 medium-text">음악/악기</div></a>
                <a th:href="@{#}" data-category="C1000"><div class="text-size-20 medium-text">자기계발</div></a>
                <a th:href="@{#}" data-category="C1100"><div class="text-size-20 medium-text">여행</div></a>
                
                <a th:href="@{#}" data-category="C1200"><div class="text-size-20 medium-text">반려동물</div></a>
                <a th:href="@{#}" data-category="C1300"><div class="text-size-20 medium-text">가족/육아</div></a>
            </div>
        </div>

        <!-- 정렬 및 글쓰기 버튼 -->
        <div id="btn-row">

            <!-- 정렬 -->
            <div id="select-sort">
                <div id="sort-text" class="text-size-16 medium-text">최신순</div>
                <div id="sort-drop-down-icon"><img th:src="@{/images/svg/drop-down.svg}"></div>
            </div>

            <!-- 드롭다운 메뉴 -->
            <div id="select-sort-box">
                <a th:href="@{#}" data-sort-type="latest"><div class="text-size-14">최신순</div></a>
                <a th:href="@{#}" data-sort-type="popular"><div class="text-size-14">인기순</div></a>
            </div>

            <!-- 글쓰기 -->
            <button class="write-btn bold-text text-size-16">글쓰기</button>
        </div>

        <!-- 커뮤니티 게시판 목록 -->
        <div id="community-list">
            
            <!-- 게시글이 있는 경우 -->
            <th:block th:if="${#lists.size(boardList) > 0}">
                <th:block th:each="board : ${boardList}">
    
                    <!-- 하나의 게시글 -->
                    <a th:href="@{/{boardType}/{communityNo}(boardType=${boardType}, communityNo=${board.communityNo}, cp=${pagination.currentPage})}" class="community-post">
                        <!-- 썸네일 영역 -->
                        <div class="post-thumbnail" th:if="${board.thumbnail != null}">
                            <img th:src="${board.thumbnail}" alt="">
                        </div>
        
                        <!-- 텍스트 영역 -->
                        <div class="post-text">
                            <!-- 제목 -->
                            <div class="post-title text-size-20 bold-text" th:text="${board.communityTitle}">제목</div>
        
                            <div class="post-info">
                                <!-- 닉네임 -->
                                <span class="post-nick medium-text" th:text="${board.memberNickname}">닉네임</span>
            
                                <span>•</span>
                                <!-- 작성일 -->
                                <span class="post-create-date" th:text="${board.communityCreateDate}">작성일</span>
                            </div>
        
                            <!-- 좋아요, 댓글 -->
                            <div class="post-icon">
        
                                <div class="post-like">
                                    <img th:src="@{/images/svg/postLike.svg}" alt="">
                                    <div th:text="${board.likeCount}">좋아요</div>
                                </div>
        
                                <div class="post-comment">
                                    <img th:src="@{/images/svg/comment.svg}" alt="">
                                    <div th:text="${board.commentCount}">댓글</div>
                                </div>
                            </div>
                        </div>
        
                    </a>
                </th:block>
            </th:block>

            <!-- 게시글이 없는 경우 -->
            <th:block th:if="${#lists.size(boardList) == 0}">
                <div id="no-post" class="text-size-20 medium-text">
                    등록된 게시글이 없습니다.<br>
                    첫 게시글의 주인공이 되어보세요!
                </div>
            </th:block>
        </div>
    </section>


    <th:block th:replace="~{/common/footer}">footer.html</th:block>
    <th:block th:replace="~{/chatting/chatting}">chatting.html</th:block>
  
    <script th:src="@{/js/communityPage/communityHome.js}"></script>
</body>
</html>