<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관심있는 게시글</title>
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">
    <link rel="stylesheet" href="../../static/css/communityPage/communityHome.css">
    <link rel="stylesheet" href="../../static/css/common/footer.css">

</head>
<body>
    <header>
        <section id="header-area">
            <div>
                <a href="@{/}">
                    <img id="main-logo" src="../../static/images/logo.png">
                </a>

            </div>
            <div>
                <div>
                    <a href="/joongo" class="noto-sans-kr-20">중고거래</a>
                </div>
                <div>
                    <a href="/goods" class="noto-sans-kr-20">굿즈</a>
                </div>
                <div>
                    <a href="/community" class="noto-sans-kr-20">커뮤니티</a>
                </div>

            </div>

            <div id="icon-area">
                <button>
                    <!-- <img src="/images/svg/하트.svg"> -->
                    <!-- <img src="@{/images/장바구니.svg}" > -->
                    <img src="../../static/images/svg/사람.svg" >
                </button>

                <button>
                    <img src="../../static/images/svg/group.svg">
                </button>
                <button>
                    <img src="../../static/images/svg/clarity_menu-line.svg">

                </button>

            </div>
        </section>

        <section id="search-area">
            <form action="">
                <fieldset>
                    <img src="../../static/images/svg/돋보기.svg">
                    <input type="search" name="query" id="query" placeholder="검색어를 입력해주세요." class="noto-sans-kr-20">

                </fieldset>
            </form>
        </section>
    </header>
    
    <section class="body">

        <div id="category-header">
            <div class="text-size-24 bold-text">관심있는 게시글</div>
        </div>
        <!-- 커뮤니티 게시판 목록 -->
        <div id="community-list">

            <!-- 하나의 게시글 -->
            <div class="community-post">
                <!-- 썸네일 영역 -->
                <div class="post-thumbnail">
                    <img src="../../static/images/community/제발요.jpg" alt="">
                </div>

                <!-- 텍스트 영역 -->
                <div class="post-text">
                    <!-- 제목 -->
                    <div class="post-title text-size-20 bold-text">제 영혼을 갈았읍니다</div>

                    <div class="post-info">
                        <!-- 닉네임 -->
                        <span class="post-nick medium-text">하멍멍</span>
    
                        <span>•</span>
                        <!-- 작성일 -->
                        <span class="post-create-date">15분전</span>
                    </div>

                    <!-- 좋아요, 댓글 -->
                    <div class="post-icon">

                        <div class="post-like">
                            <img src="../../static/images/svg/community-liked.svg" alt="">
                            <div>12</div>
                        </div>

                        <div class="post-comment">
                            <img src="../../static/images/svg/comment.svg" alt="">
                            <div>3</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="community-post">

                <!-- 텍스트 영역 -->
                <div class="post-text">
                    <!-- 제목 -->
                    <div class="post-title text-size-20 bold-text">오버워치 잘 하고 싶은데 나 좀 도와줘봐</div>

                    <div class="post-info">
                        <!-- 닉네임 -->
                        <span class="post-nick medium-text">즐겜러</span>
    
                        <span>•</span>
                        <!-- 작성일 -->
                        <span class="post-create-date">25분전</span>
                    </div>

                    <!-- 좋아요, 댓글 -->
                    <div class="post-icon">

                        <div class="post-like">
                            <img src="../../static/images/svg/community-liked.svg" alt="">
                            <div>25</div>
                        </div>

                        <div class="post-comment">
                            <img src="../../static/images/svg/comment.svg" alt="">
                            <div>32</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="community-post">
                <!-- 썸네일 영역 -->
                <div class="post-thumbnail">
                    <img src="../../static/images/community/tired_cat.jpg" alt="">
                </div>

                <!-- 텍스트 영역 -->
                <div class="post-text">
                    <!-- 제목 -->
                    <div class="post-title text-size-20 bold-text">제가 지친 고양이로 보이시나요?</div>

                    <div class="post-info">
                        <!-- 닉네임 -->
                        <span class="post-nick medium-text">고냥고냥</span>
    
                        <span>•</span>
                        <!-- 작성일 -->
                        <span class="post-create-date">1시간전</span>
                    </div>

                    <!-- 좋아요, 댓글 -->
                    <div class="post-icon">

                        <div class="post-like">
                            <img src="../../static/images/svg/community-liked.svg" alt="">
                            <div>1</div>
                        </div>

                        <div class="post-comment">
                            <img src="../../static/images/svg/comment.svg" alt="">
                            <div>2</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <nav aria-label="페이지네이션">
        <ul class="pagination">
            <li><button type="button" class="pagination-btn" aria-label="이전 페이지"><img src="../../static/images/pagination/pagn-previous-btn.svg"></button></li>
            <li><button type="button" aria-current="page" aria-label="1페이지">1</button></li>
            <li><button type="button" aria-label="2페이지">2</button></li>
            <li><button type="button" aria-label="3페이지">3</button></li>
            <li><button type="button" aria-label="4페이지">4</button></li>
            <li><button type="button" aria-label="5페이지">5</button></li>
            <li><button type="button" aria-label="6페이지">6</button></li>
            <li><button type="button" aria-label="7페이지">7</button></li>
            <li><button type="button" aria-label="8페이지">8</button></li>
            <li><button type="button" aria-label="9페이지">9</button></li>
            <li><button type="button" aria-label="10페이지">10</button></li>
            <li><button type="button" class="pagination-btn" aria-label="다음 페이지"><img src="../../static/images/pagination/pagn-next-btn.svg"></button></li>
        </ul>
    </nav>

    <footer>
        <section>
            <div class="footer-top">
                <img src="../../static/images/logo.png" width="100px" style="vertical-align: middle;">
                <a th:href="@{#}">회사 소개</a>
                <span>|</span>
                <a th:href="@{#}">서비스 소개</a>
                <span>|</span>
                <a th:href="@{#}">블로그</a>
                <span>|</span>
                <a th:href="@{#}">채용제휴 문의</a>
                <span>|</span>
                <a th:href="@{#}">광고 문의</a>
            </div>
    
            <hr>
    
            <div class="footer-bottom">
    
                <div class="footer-left">
                    (주) 다시마켓 <br>
                    대표 너구리 <br>
                    사업자번호 168-87-57386 <br>
                    직업정보제공사업 신고번호J1200020200016 <br>
                    통신판매신고번호 제2024-서울강남-06966호 <br>
                    호스팅 사업자 Amazon Web Service(AWS)<br>
                    주소 서울특별시 종로구 우정국로2길 21 9층, 903호 <br>
                    전화 1877-9292 <br>
                    고객문의 kelp@dasimacat.com
                </div>
                <div class="footer-right">
                    <a href="#">공지사항</a>
                    <a href="#">자주묻는 질문</a> <br><br>
    
                    <a href="#">이용약관</a>
                    <a href="#">개인정보처리방침</a>
    
                    <a href="#">운영정책</a>
    
                    <a href="#">위치기반서비스 이용약관</a>
    
                    <a href="#">게시글</a>
    
                </div>
    
            </div>
        </section>
    </footer>
</body>
</html>