a {
    text-decoration: none;
    color: black;
}
/*----------------------------*/
/*프로필 관리*/ 

/*사이드 메뉴 & 프로필 관리 박스*/
.myPage-content{
    display: flex;
    max-width: 1200px;    
    min-width: 700px;    
    margin: 50px auto;
    justify-content: center;  
}

/*프로필 관리 박스*/
.myPage-secession {
    
  width: 100%;
 
  margin-left: 40px;
  margin-bottom: 100px;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.5); 
  padding: 30px;
  box-sizing: border-box;
}

/*프로필 관리 제목류(공통)*/
.myPage-label{
    display: flex;
       
    justify-content: center;

    width: 150px;
    height: 50px;
    margin-left: 50px;
}

/*프로필 타이틀*/
.myPage-title, .myPage-subtitle {
    margin-left: 50px; 
    margin-top: 30px;
}

/*프로필 타이틀*/
.myPage-secessionTitle{
    margin-left: 50px;
    margin-top: 70px;
}

/* checkbox li 요소 */
.myPage-secessionCheckBox li {

    padding: 0;
    margin-bottom: 0px;
}

/* 회원탈퇴 사유 */
.myPage-secessionInput { 
    position: relative;
    margin-bottom: 70px;
}

/* 회원탈퇴 사유 입력 */
.myPage-secessionInput textarea {
    margin-left: 70px;
    width: 600px;
    height: 200px;
}

/* 회원탈퇴 사유입력 카운터 */
.myPagechar-count-container {
    position: absolute;
    bottom: 10px;
    left: 620px;
    color: #888;
}

/* 회원 탈퇴 박스*/
.myPage-secessionClause {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2;
    flex-wrap: wrap;
    padding-right: 120px;
    margin-bottom: 50px;
}

/* 회원 탈퇴 조항 */
.myPage-secessionClause p {
    margin-bottom: 20px;
}

/* 회원 탈퇴 제목 */
.myPage-secessionClauseTitle {
    margin-bottom: 30px;
}

/* 회원 탈퇴 상세내용 */
.myPage-secessionClauseDetail {
    line-height: 40px;
    margin-left: 90px;
    margin-bottom: 50px;
    flex: flex;
    flex-direction: column;
}

/* 회원 탈퇴 상세내용 */
.myPage-secessionClauseDetail p {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}


/* 프로필 정보 박스 */
.myPage-secessionPasswordRow {
    display: flex;
    align-items: center;
   

    padding-right: 130px;
    margin-bottom: 15px;
    
    margin-left: 50px;


}

.myPage-secessionPasswordLabel {

    width: 150px;
    height: 50px;
    justify-content: center;

    display: flex;
    align-items: center;
    justify-content: flex-start;


}

/* 프로필 정보 표시(input) */
.myPage-secessionPasswordInput {
    flex-grow: 1;
    height: 50px;
    margin-left: 0px;
    border-radius: 10px;

    display: flex;          /* flex 박스로 */
    align-items: center;    /* 안의 텍스트 세로 중앙 */
    padding-left: 10px;
}


/* 수정하기 버튼 */
.myPage-secessionButtons {
    display: flex;
    justify-content: center;
    align-items: center;

    
    margin-top: 50px;

}

/* 수정하기 버튼 input */
.myPage-secessionSubmit {

    width: 200px;
    height: 50px;

    border-radius: 10px;

    cursor: pointer;

    background-color: #166549;
    color: white;

}

/* 수정하기 버튼 input hover */
.myPage-secessionSubmit:hover {
    
    background-color: rgb(154, 255, 144);

}












/*----------------------------*/
/*사이드 메뉴*/ 

/*사이드메뉴 박스*/
.left-side{

    display: flex;
    justify-content: center;
    align-items: flex-start;    
    
    width: 30% ;    

    margin-top: 0px;
    margin-bottom: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.5);   
    
    padding: 10px;
    box-sizing: border-box;

}

/*사이드메뉴 제목*/
.left-title{    

    display: flex;        
    justify-content: center;    
    align-items: center;
    height: 100px;
}

/*사이드메뉴 소제목*/
ul, li{
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}

/*사이드  대제목 간격*/
.left-menu {
    margin-bottom: 70px;
}


.myPage-a a {
    text-decoration: none;
    color: black;
}
