/*----------------------------*/


/*회원가입 관리*/ 
.signUp-content{
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;    
}

/*회원가입 박스*/
.signUp-main {
    
  width: 100%;
 
  margin-left: 40px;
  margin-bottom: 100px;  
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -2px rgba(0, 0, 0, 0.5); 
  padding: 30px;
  box-sizing: border-box; 

  display: flex;
  flex-direction: column;
  align-items: center;

}

/*프로필 관리 제목류(공통)*/
.signUp-label{
    display: flex;       
    justify-content: center;

    width: 150px;
    height: 50px;
    margin-left: 50px;
}

/*프로필 타이틀*/
.signUp-title, .signUp-subtitle {
    margin-left: 50px; 
    margin-top: 10px;

    display: block;
    justify-content: center;
    color: #166549;
}

.signUp-subtitle {
    display: block;
}

/* 프로필 변경 버튼 hover 효과 */
.signUp-actionButton1:hover {
    background-color: #298C69;    
}

.signUp-infoField {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;    

    margin-top: 50px;
}

/* 프로필 정보 박스 */
.signUp-row {
    display: flex;
    align-items: center;    
    padding-right: 100px;

}

#nameMessage, #emailMessage, #pwMessage, #nickMessage, #telMessage, #authMessage {    
    margin-left: 220px;  
    margin-bottom: 30px;
}

.is-error {
    color: rgb(215, 75, 75);
}

.is-success {
    color: #166549;
}



/* 프로필 정보 표시(span) */
.signUp-display {       
    flex-grow: 1;
    border-radius: 10px;
    

    display: flex;
    align-items: center;

    margin-left: 10px;
}

/* 프로필 정보 표시(input) */
.signUp-input {
    
    border-radius: 10px;

    display: flex;
    align-items: center;

    margin-left: 10px;    
    
    height: 40px;
    width: 450px;

    padding-left: 40px;

    border: 1px solid #166549;

}

.signUp-input:focus {
    outline: none;
    border: 2px solid #298C69;
}

.signUp-pwConfirm {
    display: block;
    width: 100%;
}

/*회원가입 변경 버튼*/
.signUp-actionButton1 {

    background-color: #166549;
    color: white;

    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
    width: 90px;
    height: 40px;
}

/* 프로필 제목 */
.signUp-label {
    margin-top: 1px;
    display: flex;
    align-items: center;
}

/* 프로필 주소 인라인 요소를 블록으로 변경 */
.signUp-label {
  margin-bottom: 5px; 
}

/* 우편번호 */
.signUp-addpost {
  margin-bottom: 15px; 
  margin-left: 50px;
  padding-left: 5px;

}

/* 우편번호 input */
.signUp-postinput {
    
    width: 150px;
    height: 40px;
    margin-left: 50px;
    padding-left: 30px;
    border-radius: 10px;

    border: 1px solid #166549;
}

.signUp-postinput:focus {
    outline: none;
    border: 2px solid #298C69;
}

/* 우편번호 검색 */
.signUp-addactionButton {
    
    background-color: #166549;
    color: white;

    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
    width: 150px;
    height: 40px;
}


/* 프로필 상세주소 */
.signUp-addinput {
    
    
    width: 800px;
    height: 20px;
    
    margin-left: 100px;
    padding-left: 5px;
    border-radius: 10px;

    margin-bottom: 15px; 

}


/* 프로필 상세주소 input */

.myPage-addinputDongDetail1 {
    border-radius: 10px;
    padding-left: 5px;
    width: 630px;
    height: 40px;
    margin-left: 102px;
    margin-bottom: 10px;
    padding-left: 30px;

    border: 1px solid #166549;
}

.myPage-addinputDongDetail1:focus {
    outline: none;
    border: 2px solid #298C69;
}

.myPage-addinputDongInside {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}

.myPage-addinputDongDetail2 {
    border-radius: 10px;
    padding-left: 5px;
    width: 500px;
    height: 40px;
    margin-left: 102px;
    margin-bottom: 10px;
    padding-left: 30px;

    border: 1px solid #166549;
}

.myPage-addinputDongDetail2:focus {
    outline: none;
    border: 2px solid #298C69;
}

.myPage-addinputDongDetail3 {
    border-radius: 10px;
    padding-left: 5px;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 30px;

    border: 1px solid #166549;
}

.myPage-addinputDongDetail3:focus {
    outline: none;
    border: 2px solid #298C69;
}

/* 수정하기 버튼 */
.signUp-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 50px;
}

/* 가입하기 버튼 input */
.signUp-submit {

    width: 200px;
    height: 50px;

    border-radius: 10px;

    cursor: pointer;

    background-color: #166549;
    color: white;

    border: none;

}

/* 가입하기 버튼 hover */
.signUp-submit:hover {
    
    background-color: #298C69;

}




