<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[관리자 전용] 게시글 작성</title>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/css/notice/notice-adminWrite.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>새 게시글 작성</h1>
        </div>

        <form id="writeForm">
            <ul class="form-list">
                <li class="form-item">
                    <div class="label-area">
                        <span class="form-label">게시판 종류</span>
                    </div>
                    <div class="field-area">
                        <select class="form-control form-select" id="boardSelect" required>
                            <option value="notice">공지사항</option>
                            <option value="qna">자주 묻는 질문</option>
                        </select>
                    </div>
                </li>

                <li class="form-item">
                    <div class="label-area">
                        <span class="form-label">게시글 분류</span>
                    </div>
                    <div class="field-area">
                        <select class="form-control form-select" id="categorySelect" required>
                            <option value="notice-category">[공지]</option>
                            <option value="event-category">[이벤트 관련]</option>
                            <option value="fraud-category">[사기예방]</option>
                            <option value="policy-category">[정책변경]</option>
                        </select>
                    </div>
                </li>

                <li class="form-item">
                    <div class="label-area">
                        <span class="form-label">제목</span>
                    </div>
                    <div class="field-area">
                        <input type="text" class="form-control" placeholder="게시글의 제목을 입력하세요." required>
                    </div>
                </li>

                <li class="form-item content-item">
                    <div class="label-area">
                        <span class="form-label">내용</span>
                    </div>
                    <div class="field-area">
                        <textarea class="form-control content-textarea" placeholder="내용을 입력하세요" required></textarea>
                    </div>
                </li>

                <li class="form-item attachment-item">
                    <div class="label-area">
                        <span class="form-label">첨부파일</span>
                    </div>
                    <div class="field-area">
                        <div class="attachment-container">
                            <div class="attachment-area">

                            </div>
                            <div class="attachment-buttons">
                                <button type="file" class="attachment-btn">첨부파일</button>
                            </div>
                            <div>
                                <span class="attachment-description">
                                    *사진(이미지)만 등록 가능합니다.(최대 OOMB 등록 가능)
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="button-group">
                <button type="button" class="btn btn-cancel">
                    취소하기
                </button>
                <button type="submit" class="btn btn-submit">
                    등록하기
                </button>
            </div>
        </form>
    </div>

    <script src="/src/main/resources/static/js/notice/notice-adminWrite.js"></script>
</body>

</html>