<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다시마 AI</title>
    <link rel="stylesheet" href="../../static/css/chatBot/chatBot.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">
</head>
<body>
    <section>
        <div class="chatBot-header">
            <div class="chatBot-title text-size-20 bold-text">다시마 챗봇</div>
        </div>
    
        <!-- 첫 대화인 경우 - 대화를 시작해보세요 -->
        <!-- <div class="chatting-start-area">
            <div id="chatting-suggestion">
                <img src="../../static/images/svg/chatBot-start.svg" alt="">
                <div class="text-size-16 medium-text">대화를 시작해보세요!</div>
            </div> -->
    
            <!-- 새 문의하기 -->
            <!-- <button id="chatting-start-btn">
                <img src="../../static/images/svg/newChatBot.svg" alt="">
            </button>
        </div> -->

        <!-- 채팅 중 -->
        <div class="chatting-area">
            <!-- 다시마봇 -->
            <div class="dashima-chatting">
                <div>
                    <img src="../../static/images/svg/just-dashima.svg" alt="">
                    <div>다시마봇</div>
                </div>
                <div>
                    안녕하세요. 다시마봇이예요.<br>
                    궁금하신 점은 무엇이든지 물어보세요!
                </div>
            </div>

            <!-- 유저 -->
            <div class="user-chatting">

            </div>
        </div>
    </section>

    <script src="../../static/js/chatting/chatBot.js"></script>
</body>
</html>