<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다시마 AI</title>
    <link rel="stylesheet" href="../../static/css/chatBot/chatBot.css">
    <link rel="stylesheet" href="../../static/css/common/font.css">
</head>
<body>
    <div>
        <div>
            다시마 AI
        </div>

        <!-- 첫 대화인 경우 - 대화를 시작해보세요 -->
        <div id="chatting-start">
            <div>
                <img src="../../static/images/svg/chatBot-start.svg" alt="">
                <div class="text-size-24 bold-text">대화를 시작해보세요!</div>
            </div>
    
            <!-- 새 문의하기 -->
            <div>
    
            </div>
        </div>
    </div>

</body>
</html>