section {
    width: 500px;
    height: 700px;
    border: 1px solid #ddd;
}
.chatBot-header {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.show {
    display: flex;
}

/* 채팅 시작 전 */
.chatting-start-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chatting-suggestion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#chatting-suggestion > img {
    width: 120px;
}

#chatting-suggestion div {
    color: #AFAFAF;
    margin-bottom: 15px;
}

#chatting-start-btn {
    border: none;
    background-color: transparent;
}

#chatting-start-btn:hover {
    cursor: pointer;
}

/* 채팅 중 */
.chatting-area {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.dashima-chatting {
    display: flex;
    flex-direction: column;
}

.bot-text {
    display: flex;
}