section {
    width: 500px;
    height: 700px;
    border: 1px solid #ddd;
    position: relative;
}
.chatBot-header {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

/* 채팅 시작 전 */
.chatting-start-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chatting-suggestion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#chatting-suggestion > img {
    width: 120px;
}

#chatting-suggestion div {
    color: #AFAFAF;
    margin-bottom: 15px;
}

#chatting-start-btn {
    border: none;
    background-color: transparent;
}

#chatting-start-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* 채팅 중 */
.chatting-area {
    height: 100%;
    display: none;
}

/* 봇 채팅 */
.dashima-chatting {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.dashima-info {
    display: flex;
    align-items: center;
}

/* 봇 사진 */
.dashima-info > img {
    width: 40px;
    height: 40px;
    border: 2px solid #166549;
    border-radius: 50%;
}

.dashima-info div {
    margin: 10px;
}

.bot-text {
    width: 250px;
    border: 10px;
    background-color: #e3e3e3;
    margin-left: 50px;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}

/* 사용자 채팅 */
.user-chatting {
    display: flex;
    justify-content: end;
    margin: 20px;
}

.user-text {
    background-color: #166549;
    padding: 10px;
    color: white;
    border-radius: 10px 0 10px 10px;
}

/* 채팅 보내는 영역 */
.write-chatting-area {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.write-chatting-area > div {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    box-shadow : 3px 3px 10px 5px rgba(188, 188, 188, 0.372);
}

#write-chatting {
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
    resize: none;
    text-align: center;
}

#write-chatting:focus {
    outline: none;
}

.write-chatting-area > img {
    margin-left: 10px;
    background-color: #1C8F67;
    border-radius: 15px;
    box-shadow : 3px 3px 10px 5px rgba(188, 188, 188, 0.372);
}

.write-chatting-area img:hover {
    cursor: pointer;
}