* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body, input, button, textarea, select {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* 폰트 굵기 */
.light-text {
  font-weight: 300; /* Light */
}

.regular-text {
  font-weight: 400; /* Regular(기본) */
}

.medium-text {
  font-weight: 500; /* Medium */
}

.bold-text {
  font-weight: 700; /* Bold */
}

/* 폰트 사이즈 */
.text-size-10 {
  font-size: 10px;
}

.text-size-13 {
  font-size: 13px;
}

.text-size-14 {
  font-size: 14px;
}

.text-size-16 {
  font-size: 16px;
}

.text-size-20 {
  font-size: 20px;
}

.text-size-24 {
  font-size: 24px;
}