footer {
  width: 100%;
  border-top: 1px solid gray;
  margin-top: 50px;
}
footer > section{
  width: 1200px;
  margin:50px auto 0;
      
}

.footer-bottom {
  display: flex;               /* 좌우 배치 */
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  align-items: center;         /* 세로 가운데 정렬 */
  padding: 10px 20px;
  background-color: white;
  color: black;
}

.footer-left {
  font-size: 12px;
}

.footer-right a {
  margin-left: 15px;
  font-size:12px;
  color: black;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}

.footer-top a:hover {
  text-decoration: underline;
}