/* 헤더 */
header{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid black;
}

/* 헤더 로고, 카테 ,아이콘 영역 정렬 */
#header-area{
    display: flex;
    height: 80px;
    width: 1200px;
    margin: 30px auto 0 ;
    align-items: center;
    gap: 50px;
}


header>section>div:nth-child(2){
    display: flex;
    
}

#main-logo{
    width: 150px;
    height: 70px;
}

/* 카테고리 박스 스타일 */
header>section> div:nth-child(2)>div{

    width: 200px;
    height: 75px;
    border: 1px solid #52B291;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    
}                  


/* 카테고리 박스 스타일 중앙정렬 등등 */
header>section> div:nth-child(2) a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}          

/* 카테고리 호버 효과 */
header>section> div:nth-child(2)>div>a:hover{

    background-color: #166549;
    color: white;
    transition: all 0.5s;
}

/* 아이콘 영역 */
#icon-area{
    display: flex;
    align-items: center;
}

#icon-area button{
    background-color: white;
    border: none;
    margin-inline: 10px;
    padding: 5px;
}

#icon-area button:hover{
    cursor: pointer;
}
#icon-area .icon-img{
    width: 25px;
    height: 25px;
}



/* 검색창 */
#search-area{
    width: 1200px;
    margin: 40px auto 40px ;
    height: 150px;
    position: relative;
}

#search-area fieldset{
    margin: 0 auto;
    width: 725px;
    height: 65px;
    border-radius: 20px;
    border: 3px solid #166449;
    padding: 8px 15px; 
    display: flex; 
    align-items: center; 
}

#header-search {
    width: 50px;
    padding: 2px;
    margin-right: 8px;
}

/* 검색창 스타일 */
#query{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    outline: none; 
}

#query::placeholder {
    font-size: 20px;
}


/* search x 버튼 없애기 */
#query::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}


/* 알림 */
.notification-container{
    display: block;
    position: relative;
}

.notification-list{
    position: absolute;
    width: 350px;
    height: 500px;
    top: 35px;
    right: 25px;
    padding: 10px;
    list-style: none;
    z-index: 2000;
    background: white;
    overflow-y: auto;
    border: 2px solid #52B291;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #eee, 0 4px 8px 0 rgba(0, 0, 0, .3);
    display: none; 
}

/* 알림창 보임 */
.show{display: block;}

.notification-btn{
    position: relative;
}

/* 읽지 않은 알림 표시 */
.notification-area{
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 50%;
    background: #52B291;
    position: absolute;
    top: 0px;
    left: 18px;
    display: none;
}

.notification-div{
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #52B291;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.notification-div img{
    width: 50px;
    height: 50px;
    margin: 5px;
    flex-shrink: 0;
    border-radius: 50%;
    border: none;
}

.not-read{
    background-color: #65dbb2d6;
    border: none;
}

.notification-content{
    width: 100%;
    height: 90%;
    position: relative;
    padding: 5px;
}

.notification-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.notification-date{
    font-size: 11px;
    color: #5e5e5e;
    width: 100px;
}

/* X 버튼 */
.notice-deleteBtn{
    position: absolute;
    top: 0px;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
}

#login{
    align-items: baseline;
}

/* 햄버거 버튼 */
.dropdown-toggle {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 20px;

    display: none;
    
    width: 140px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 0;        

}

.dropdown-menu.show {
    display: block;
    border: 1px solid black;
    
}

.dropdown-menu a {
    display: block;    
    padding: 10px 15px;

    text-decoration: none;
    color: #333;
    font-size: 14px;

    transition: background-color 0.2s;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
    color: #000;
}

/* floatingBtn - 하단 채팅, 챗봇 버튼 */
.floating-area{
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.floating-div{
    background-color: #166549;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;  
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.floating-div > img{
    width: 50px;
    height: 50px;
}

.dropdown-menu {
    z-index: 2100; /* 알림 버튼보다 위 */
}

