/* 헤더 */
header{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid black;
}

/* 헤더 로고, 카테 ,아이콘 영역 정렬 */
#header-area{
    display: flex;
    height: 80px;
    width: 1200px;
    margin: 30px auto 0 ;
    align-items: center;
    justify-content: space-between;
}


header>section>div:nth-child(2){
    display: flex;
    
}

#main-logo{
    height: 80px;
}

/* 카테고리 박스 스타일 */
header>section> div:nth-child(2)>div{

    width: 200px;
    height: 75px;
    border: 1px solid #52B291;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    
}                  


/* 카테고리 박스 스타일 중앙정렬 등등 */
header>section> div:nth-child(2) a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}          

/* 카테고리 호버 효과 */
header>section> div:nth-child(2)>div>a:hover{

    background-color: #166549;
    color: white;
    transition: all 0.5s;
}

/* 아이콘 영역 */
#icon-area{
    display: flex;
    align-items: center;
}

#icon-area button{
    background-color: white;
    border: none;
    margin-left: 10px;
    padding-right: 20px;
}
#icon-area button:hover{
    cursor: pointer;
}
#icon-area .icon-img{
    width: 25px;
    height: 25px;
}


/* 검색창 */
#search-area{
    width: 1200px;
    margin: 40px auto 40px ;
    height: 150px;

}

#search-area fieldset{
    margin: 0 auto;
    width: 725px;
    height: 75px;
    border-radius: 20px;
    border: 3px solid #166449;
    padding: 8px 15px; 
    display: flex; 
    align-items: center; 
}

/* 검색창 스타일 */
#query{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 24px;
    border: none;
    outline: none; 
}


/* search x 버튼 없애기 */
#query::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}


/* 알림 */
.notification-container{
    display: block;
    position: relative;
}

.notification-list{
    position: absolute;
    width: 350px;
    height: 500px;
    top: 16px;
    right: 25px;
    padding: 10px;
    list-style: none;
    z-index: 2000;
    background: white;
    overflow-y: auto;
    border: 2px solid #52B291;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #eee, 0 4px 8px 0 rgba(0, 0, 0, .3);
    display: none; /*처음에 알림 창이 보이지 않게 함*/
}

/* 알림창 보임 */
.show{display: block;}

.notification-btn{
    position: relative;
}

/* 읽지 않은 알림 표시 */
.notification-area{
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 50%;
    background: #52B291;
    position: absolute;
    top: -5px;
    right: 18px;
    display: none;
}

.notification-div{
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #52B291;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.notification-div img{
    width: 50px;
    height: 50px;
    margin: 5px;
    flex-shrink: 0;
    border-radius: 50%;
    border: none;
}

.box-background{
    background-color: #65dbb2d6;
    border: none;
}

.notification-content{
    width: 100%;
    height: 90%;
    position: relative;
    padding: 5px;
}

.notification-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.notification-text{
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
}


.notification-date{
    font-size: 11px;
    position: absolute;
    top: 10px;
    right: 5px;
    color: #5e5e5e;
}

/* X 버튼 */
.notification-content > span:nth-of-type(2){
    position: absolute;
    top: -15px;
    right: 0;
    cursor: pointer;
}

#login{
    align-items: baseline;
}