/* 헤더 */
header{
    width: 100%;
    height: 250px;
    border-bottom: 1px solid black;
}

/* 헤더 로고, 카테 ,아이콘 영역 정렬 */
#header-area{
    display: flex;
    height: 80px;
    width: 1200px;
    margin: 30px auto 0 ;
    align-items: center;
    justify-content: space-between;
}


header>section>div:nth-child(2){
    display: flex;
    
}

#main-logo{
    height: 80px;
}

/* 카테고리 박스 스타일 */
header>section> div:nth-child(2)>div{

    width: 200px;
    height: 75px;
    border: 1px solid #52B291;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    
}                  


/* 카테고리 박스 스타일 중앙정렬 등등 */
header>section> div:nth-child(2) a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}          

/* 카테고리 호버 효과 */
header>section> div:nth-child(2)>div>a:hover{

    background-color: #166549;
    color: white;
    transition: all 0.5s;
}

#icon-area button{
    background-color: white;
    border: none;
    margin-left: 10px;
    padding-right: 20px;
}
#icon-area button:hover{
    cursor: pointer;
}
#icon-area img{
    width: 25px;
    height: 25px;
}

#search-area{
    width: 1200px;
    margin: 40px auto 40px ;
    height: 150px;

}

#search-area fieldset{

    margin: 0 auto;
    width: 725px;
    height: 75px;
    border-radius: 20px;
    border: 3px solid #166449;
    padding: 8px 15px; 
    display: flex; 
    align-items: center; 
}

/* 검색창 스타일 */
#query{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 24px;
    border: none;
    outline: none; 
}


/* search x 버튼 없애기 */
#query::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}