<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리</title>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/adminPage/admin-style.css}">

    <script src="https://kit.fontawesome.com/1c15543e3e.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <section class="admin-content">
            <!-- 사이드 메뉴 -->
            <th:block th:replace="~{admin/sideMenu}">admin-sideMenu.html</th:block>

            <section class="admin-main">
                
                <div id="admin-user">
                    <h1 class="admin-title">회원 조회</h1>
                    <div class="admin-login">
                        <img th:src="@{/images/admin/user.png}">
                        <p>관리자 계정</p>
                        <button id="logout">로그아웃</button>
                    </div>
                </div>

                <div class="admin-group-top">
                    <form id="search-area">
                        <!-- 검색창 -->
                        <div class="search-box">
                            <label>검색</label>
                            <fieldset>
                                <input type="text" name="query" placeholder="회원ID/닉네임을 입력하세요." autocomplete="off">
                                <button class="searchBtn fa-solid fa-magnifying-glass"></button>
                            </fieldset>
                        </div>
    
                        <!-- 상세검색 영역 -->
                        <div class="detail-search">
                            <label>상세검색</label>
                            <div class="checkbox-group">
                                <input type="checkbox"> 회원ID
                                <input type="checkbox"> 닉네임
                                <input type="checkbox"> 전화번호
                                <input type="checkbox"> 탈퇴회원
                            </div>
    
                            <!-- 초기화/검색 버튼 -->
                            <div class="search-buttons">
                                <button type="reset" class="basic-btn">초기화</button>
                                <button type="submit" class="color-btn">검색</button>
                            </div>
                        </div>
                    </form>
    
                    <div id="view-box" class="box-style">
                        <p>신규 가입자</p>
                        <p class="p-tag-value">0</p>
                    </div>
    
                    <div id="view-box2" class="box-style">
                        <p>오늘 이용자 수</p>
                        <p class="p-tag-value">0</p>
                    </div>
                </div>
                
                <!-- 회원조회 테이블 -->
                <table class="table-content">
                    <tr class="table-title">
                        <td>회원번호</td>
                        <td>회원ID</td>
                        <td>닉네임</td>
                        <td>전화번호</td>
                        <td>주소</td>
                        <td>탈퇴여부(Y/N)</td>
                        <td>가입일</td>
                        <td>게시글 수</td>
                        <td>평점</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>user01@og.or.kr</td>
                        <td>유저일</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.01</td>
                        <td>0</td>
                        <td>0.0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>user02@og.or.kr</td>
                        <td>유저이</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.10</td>
                        <td>1</td>
                        <td>2.0</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>user03@og.or.kr</td>
                        <td>유저삼</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.10</td>
                        <td>6</td>
                        <td>6/3.0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>user04@og.or.kr</td>
                        <td>유저사</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.10</td>
                        <td>5</td>
                        <td>5/4.0</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>user05@og.or.kr</td>
                        <td>유저오</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.15</td>
                        <td >0</td>
                        <td>0/0.0</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>user06@og.or.kr</td>
                        <td>유저육</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.11</td>
                        <td>10</td>
                        <td>10/3.9</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>user07@og.or.kr</td>
                        <td>유저칠</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.11</td>
                        <td>10</td>
                        <td>10/3.9</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>user08@og.or.kr</td>
                        <td>유저팔</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.11</td>
                        <td>10</td>
                        <td>10/3.9</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>user09@og.or.kr</td>
                        <td>유저팔</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.19</td>
                        <td>5</td>
                        <td>5/4.7</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>user10@og.or.kr</td>
                        <td>유저십</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.15</td>
                        <td>10</td>
                        <td>10/3.9</td>
                    </tr>
                </table>

            </section>
        </section>
    </main>

    <th:block th:replace="~{common/pagination}">pagination.html</th:block>

    <script th:src="@{/js/adminPage/admin.js}"></script>
</body>

</html>