* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, input, button, textarea, select {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    position: relative;
}

/* 채팅 영역 */
.chatting-popup{
    border: 1px solid black;
    border-radius: 10px;
    width: 1000px;
    height: 650px;
    z-index: 500;
    margin: auto;
    position: fixed;
    top: 100px;
    right: 180px;
}

/* 팝업 헤더 */
.popup-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    background-color: #298C69;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.popup-header > p{color: white;}

.popup-header > span{
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

/* 채팅 목록 - 왼쪽 사이드바 */
.chatting-list .color{
    background-color: #35ad83;
    border-color: #35ad83;
}

.chatting-list{
    list-style: none;
    width: 30%;
    height: 610px;
    border-right: 1px solid #9c9c9c;
}

.chatting-item * {
    pointer-events: none;
}

.chatting-item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 7px 5px 0 5px;
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    cursor: pointer;
}

.item-header img, .content-message img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    margin: 5px;
}

.item-body{ padding: 3px;}

.item-body > div{
    display: flex;
    align-items: center;
}

.target-name{
    font-size: 16px;
    font-weight: bold;
}

.recent-send-time{ 
    font-size: 12px;
    padding: 5px;
    margin-left: 30px;
}

.recent-message{font-size: 18px;}

.not-read-count{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: red;
    margin-left: auto;
}

/* 채팅 내용 */
.chatting-content{
    background-color: gray;
    width: 65%;
    height: 610px;
}

/* 검색 */
.search-box{
    border-bottom: 1px solid #9c9c9c;
    padding: 5px;
}

.search-box input{
    border: none;
    margin-left: 5px;
}

