/*----------------------------*/
/*사기이력 조회 결과*/ 
.fraudResult-content{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;    
}

/*회원가입 박스*/
.fraudResult-main {
    
  width: 100%;

  margin-top: 70px;
  margin-bottom: 50px;  
  margin-left: 40px;

}

.divider {
    border-bottom: 1px solid black;
    margin: 0 10px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.fraudResult-title {
    margin-bottom: 100px;
}

.fraudResult-fieldMain {
    display: flex;
    justify-content: flex-start;
    gap: 345px;
    margin-top: 50px;
    margin-left: 30px;
    border-bottom: 1px solid black;
}

.fraudResult-fieldExtra {
    margin-left: 430px;
    margin-bottom: 100px;
}

.fraudResult-button {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 200px;
}

.fraudResult-button button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

.fraudResult-policeLink {
    margin-top: 100px;
    margin-bottom: 100px;
}










