<style>
    .img-area{
        position: fixed;
        right: 50px;
        bottom: 40px;
    }
    .img-box{
        background-color: #166549;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;  
        align-items: center;
        margin-top: 10px;
        cursor: pointer;
    }

    .img-box > img{
        width: 50px;
        height: 50px;
    }
</style>

<section class="img-area">
    <div id="chattingBtn" class="img-box">
        <img th:src="@{/images/svg/chatting.svg}">
    </div>
    <div id="chatbotBtn" class="img-box">
        <img th:src="@{/images/svg/chatbot.svg}">
    </div>
</section>

<script th:src="@{/js/chatting/chatting.js}"></script>
