<link rel="stylesheet" href="/DashiMarket/src/main/resources/static/css/header.css">
<header>
    <section id="header-area">
        <div>
            <a href="@{/}">
                <img id="main-logo" src="/images/logo.png">
            </a>

        </div>

        <div>
            <div>
                <a href="/joongo" class="noto-sans-kr-20">중고거래</a>
            </div>
            <div>
                <a href="/goods" class="noto-sans-kr-20">굿즈</a>
            </div>
            <div>
                <a href="/community" class="noto-sans-kr-20">커뮤니티</a>
            </div>

        </div>

        <div id="icon-area">
            <button>
                <img src="/images/하트.svg">
                <!-- <img src="@{/images/장바구니.svg}" > -->
                <!-- <img src="@{/images/사람.svg}" > -->
            </button>


            <button>
                <img src="/images/group.svg">
            </button>
            <button>
                <img src="/images/clarity_menu-line.svg">

            </button>

        </div>
    </section>

    <section id="search-area">

        <form action="">
            <fieldset>
                <img src="/images/돋보기.svg">
                <input type="search" name="query" id="query" placeholder="검색어를 입력해주세요." class="noto-sans-kr-20">

            </fieldset>

        </form>

    </section>







</header>