<link rel="stylesheet" th:href="@{/css/common/header.css}">

<!-- 알림 관련 전역 변수 -->
<script th:inline="javascript">
    // 접속한 클라이언트가 로그인 상태인지 확인
    const notificationLoginCheck = /*[[${session.loginMember} ? true : false]]*/ false;
    
    // 기본 이미지 - config.properties에서 얻어옴
    const notificationDefaultImg = /*[[#{user.default.image}]]*/ "기본 이미지";
</script>

<header>
    <section id="header-area">
        <div>
            <a th:href="@{/}">
                <img id="main-logo" th:src="@{/images/common/logo.png}">
            </a>

        </div>

        <div>

            <div>
                <a th:href="@{/joonggo}" class="noto-sans-kr-20">중고거래</a>
            </div>
            <div>
                <a th:href="@{/goods}" class="noto-sans-kr-20">굿즈</a>
            </div>
            <div>
                <a th:href="@{/community}" class="noto-sans-kr-20">커뮤니티</a>
            </div>

        </div>
            
        <!-- 아이콘 영역 -->
        <div id="icon-area">
            <button>
                <img th:src="@{/images/svg/하트.svg}" class="icon-img">
                <!-- <img th:src="@{/images/svg/장바구니.svg}"  id="cartListBtn"> -->
                <!-- <img th:src="@{/images/사람.svg}" id="communityLikeBtn"> -->
            </button>

            <!-- 알림 영역 -->
            <section class="notification-container">

                <!-- 알림 버튼 -->
                <button class="notification-btn" id="bell">
                    <img th:src="@{/images/svg/Group.svg}" class="icon-img">

                    <!-- 알림 표시 -->
                    <div class="notification-area"></div>
                </button>
                
                <!-- 알림 목록 -->
                <ul class="notification-list">
                    <!-- <li class="notification-item">
                        <div class="notification-div">
                            읽은 알림
                            <img th:src="@{/images/common/user.png}">
                            <div class="notification-content">
                                <p class="notification-title">관심 상품이 등록되었습니다.</p>
                                <p class="notification-date">알림 보낸 시간</p>
                                <span class="notice-deleteBtn">x</span>
                            </div>
                        </div>

                        안읽은 알림
                        <div class="notification-div not-read">
                            <img th:src="@{/images/common/user.png}">

                            <div class="notification-content">
                                <p class="notification-title">관심 상품이 등록되었습니다.</p>
                                <p class="notification-date">알림 보낸 시간</p>
                                <span class="notice-deleteBtn">x</span>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </section>

            <div class="dropdown-toggle">
                <button class="dropdown" id="dropdown">
                    <img th:src="@{/images/svg/clarity_menu-line.svg}" class="icon-img">                
                </button>

                <div class="dropdown-menu" id="dropdownMenu">
                    <a th:href="@{/myPage/profile}">마이페이지</a>
                    <a th:href="@{/member/logout}">로그아웃</a>
                    <a th:href="@{/myPage/fraud}">사기 이력 조회</a>
                </div>
            </div>    

            <!--   <div id="login-area">
                <a th:href="@{login}" id="login">로그인</a>

            </div> -->
            

        </div>
    </section>

    <section id="search-area">

        <form action="">
            <fieldset>
                <img th:src="@{/images/svg/돋보기.svg}" id="header-search">
                <input type="search" name="query" id="query" placeholder="검색어를 입력해주세요." class="noto-sans-kr-20">
            </fieldset>
        </form>

    </section>


    <script th:src="@{/js/common/header.js}"></script>

</header>
