<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>신고하기</title>
</head>

<link rel="stylesheet" th:href="@{/css/common/font.css}">
<link rel="stylesheet" th:href="@{/css/common/report.css}">

<body>

  <main>

    <section id="section1">

      <div class="div-content" id="div1">신고하기 <img th:src="@{/images/common/Siren.png}"></div>

      <div class="div-content" id="div2">

        <div class="profile-image-area">

          <img th:if="${member.profilePath}" th:src="${member.profilePath}" id="profileImage">
          <img th:unless="${member.profilePath}" th:src="@{/images/common/user.png}" id="profileImage">

        </div>

      </div>

      <div class="div-content medium-text" id="div3"  th:text="${member.memberNickname}">게시글 올린 사람 닉네임</div>

      <div class="div-content" id="div4">
        <hr>
      </div>

    </section>

    <div id="div5">신고유형</div>

    <div id="div5-1">

      <fieldset>

        <div class="report-select">
          <div class="selected bold-text"> 신고 유형을 선택해주세요 🚨</div>
          <div class="options">
            <div class="option" data-value="1">스팸</div>
            <div class="option" data-value="2">불법</div>
            <div class="option" data-value="3">욕설</div>
            <div class="option" data-value="4">비방</div>
            <div class="option" data-value="5">사기</div>
            <div class="option" data-value="6">기타</div>
          </div>
        </div>

      </fieldset>

    </div>

    <div class="div-content" id="div6">

      <textarea rows="20" cols="70" name="reportReason" id="reportReason" placeholder="상세한 내용을 작성해주세요."></textarea>

    </div>

    <div class="div-content" id="div7">
      <button id="reportButton">신고하기</button>

    </div>

    <div id="div8">

      이 회원이 신고대상에 해당되는지 다시 한번 확인하여 주시기 바랍니다.
      <br><br>
      신고대상은 다시마켓 이용약관에 따라 활동 제한 등 불이익을 받을 수 있<br>
      으며, 사실관계 확인시 쌍방과실일 경우 신고자 또한 다시마켓 이용약관에<br>
      따라 활동제한 등 불이익을 받을 수 있습니다.<br><br>
    </div>

  </main>



  <script th:inline="javascript">

    const targetMemberNo = /*[[${member.memberNo}]]*/ '타겟 회원 번호'


  </script>

   <script th:src="@{/js/common/report.js}"></script>
</body>

</html>