<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다시마켓 굿즈</title>
    <link rel="stylesheet" th:href="@{/css/goodsPage/goodsHome.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
</head>

<body>

    <th:block th:replace="~{common/header}">header.html</th:block>

    <section class="body">
        <!-- 광고 배너 -->
        <div id="ad-banner">
            <img th:src="@{/images/goods/banner1.png}" alt="">
        </div>

        <!-- 상품 정렬(가격순, 인기순), 상품등록 -->
        <div class="btn-container">

            <!-- 상품 정렬 -->
            <div id="select-sort">
                <div id="sort-text" class="text-size-16 medium-text">인기순</div>
                <div id="drop-down-icon"><img th:src="@{/images/svg/drop-down.svg}"></div>
            </div>

            <!-- 드롭다운 메뉴 -->
            <div id="select-sort-box">
                <a th:href="@{#}"><div class="text-size-14">인기순</div></a>
                <a th:href="@{#}"><div class="text-size-14">낮은 가격순</div></a>
                <a th:href="@{#}"><div class="text-size-14">높은 가격순</div></a>
            </div>


            <!-- 상품 등록(관리자한테만 보여줄 것) -->
            <a th:href="@{/goodsWrite}" class="upload-goods-btn">
                <div id="upload-goods-text" class="text-size-16 medium-text">상품 등록</div>
            </a>
        </div>

        <!-- 제품 보여지는 전체 컨테이너 -->
        <div id="goods-container">

            <!-- 상품들 -->
            <a th:href="@{#}" class="goods-detail-area">
                <!-- 이미지 -->
                <div class="goods-img"><img th:src="@{/images/goods/tumbler.png}" alt=""></div>
                <!-- 제품명 -->
                <div class="goods-name text-size-16 medium-text">다시마 로고 텀블러</div>
                <!-- 가격 -->
                <div class="goods-price">25,000원</div>
            </a>
            <a th:href="@{#}" class="goods-detail-area">
                <div class="goods-img"><img th:src="@{/images/goods/figures.png}" alt=""></div>
                <div class="goods-name text-size-16 medium-text">다시마 피규어</div>
                <div class="goods-price">18,000원</div>
            </a>
            <a th:href="@{#}" class="goods-detail-area">
                <div class="goods-img"><img th:src="@{/images/goods/socks.png}" alt=""></div>
                <div class="goods-name text-size-16 medium-text">다시마 캐릭터 양말</div>
                <div class="goods-price">4,500원</div>
            </a>
            <a th:href="@{#}" class="goods-detail-area">
                <div class="goods-img"><img th:src="@{/images/goods/cushion.png}" alt=""></div>
                <div class="goods-name text-size-16 medium-text">다시마 캐릭터 쿠션</div>
                <div class="goods-price">28,000원</div>
            </a>
            <a th:href="@{#}" class="goods-detail-area">
                <div class="goods-img"><img th:src="@{/images/goods/echo-bag.png}" alt=""></div>
                <div class="goods-name text-size-16 medium-text">다시마 로고 에코백</div>
                <div class="goods-price">12,000원</div>
            </a>
            <a th:href="@{#}" class="goods-detail-area">
                <div class="goods-img"><img th:src="@{/images/goods/key-ring.png}" alt=""></div>
                <div class="goods-name text-size-16 medium-text">다시마 캐릭터 키링</div>
                <div class="goods-price">7,000원</div>
            </a>
            <a th:href="@{#}" class="goods-detail-area">
                <div class="goods-img"><img th:src="@{/images/goods/blanket.png}" alt=""></div>
                <div class="goods-name text-size-16 medium-text">따끈따끈 다시마 캐릭터 담요</div>
                <div class="goods-price">15,000원</div>
            </a>
            <a th:href="@{#}" class="goods-detail-area">
                <div class="goods-img"><img th:src="@{/images/goods/note.png}" alt=""></div>
                <div class="goods-name text-size-16 medium-text">왕다시마 캐릭터 노트</div>
                <div class="goods-price">9,000원</div>
            </a>
            <a th:href="@{#}" class="goods-detail-area">
                <div class="goods-img"><img th:src="@{/images/goods/sticker.png}" alt=""></div>
                <div class="goods-name text-size-16 medium-text">다시마 캐릭터 스티커</div>
                <div class="goods-price">9,000원</div>
            </a>
        </div>

    </section>
    


    <th:block th:replace="~{common/footer}">footer.html</th:block>
    <script th:src="@{/js/goodsPage/goodsHome.js}"></script>
</body>

</html>