<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>굿즈 상품 수정</title>

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/goodsPage/goodsUpdate.css}">
</head>

<body>
    
    <th:block th:replace="~{common/header}">header.html</th:block>

    
    <div class="container">
        <div class="header">
            <h1>굿즈 상품 수정</h1>
        </div>

        <form th:action="@{/goods/update}" id="updateForm" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="goodsNo" th:value="${goods.boardNo}">
            <ul class="form-list">
                <li class="form-item">
                    <div class="label-area">
                        <span class="form-label"><span class="required">*</span>상품명</span>
                    </div>
                    <div class="field-area">
                        <input type="text" class="form-control" name="goodsTitle" id="goodsName"
                            placeholder="상품명을 입력해주세요." required th:value="${goods.boardTitle}">
                    </div>
                </li>

                <li class="form-item content-item">
                    <div class="label-area">
                        <span class="form-label"><span class="required">*</span>상품 설명</span>
                    </div>
                    <div class="field-area" id="goods-info-area" >
                        <label for="goodsInfo">
                            <i class="fas fa-camera" style="font-size: 40px;"></i>
                        </label>
                        <input type="file" name="goodsInfo" id="goodsInfo" accept="image/*">
                        <span style="margin-left: 40px;" id="oldInfo"><img th:src="${goods.boardContent}" id="preview1" class="imglist"><span class="x-button 'text-size-14'" id="imgInfoDelete">x</span></span>
                        
                        
                    </div>
                </li>

                <li class="form-item attachment-item">
                    <div class="label-area">
                        <span class="form-label"><span class="required">*</span>첨부파일</span>
                    </div>
                    <div class="field-area">
                        <div class="attachment-container">
                            <ul id="goods-img-list">
                                <li>
                                    <label for="goodsImg">
                                        <i class="fas fa-camera" style="font-size: 40px;"></i>
                                    </label>
                                    <input type="file" name="goodsImg" id="goodsImg" accept="image/*">
                                </li>
                                <li id="oldImage">
                                    <img class="imglist" id="preview2" th:src="${goods.image.imagePath}+${goods.image.imageRename}" >
                                    <span class="x-button 'text-size-14'" id="imgDelete">x</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="form-item">
                    <div class="label-area">
                        <span class="form-label"><span class="required">*</span>상품 가격</span>
                    </div>
                    <div class="price-area">
                        <input type="text" class="form-control" name="goodsPrice" id="goodsPrice"
                            placeholder="가격을 입력해주세요" required th:value="${goods.goodsPrice}">
                    </div>

                </li>
                <li class="form-item">
                    <div class="label-area">
                        <span class="form-label"><span class="required">*</span>재고</span>
                    </div>
                    <div class="price-area">
                        <input type="number" class="form-control" name="goodsStock" id="goodsStock" th:value="${goods.goodsStock}" required>
                    </div>

                </li>
            </ul>

            <div class="button-group">
                <button type="button" class="btn btn-cancel" id="cancelBtn">
                    취소하기
                </button>
                <button type="submit" class="btn btn-submit">
                    수정하기
                </button>
            </div>
        </form>
    </div>



    <th:block th:replace="~{common/footer}">footer.html</th:block>
    
    <script th:inline="javascript">
        const goodsNo= /*[[${goods.boardNo}]]*/ '굿즈 번호'
    </script>

    <script th:src="@{/js/goodsPage/goodsUpdate.js}"></script>
</body>

</html>