<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goodsDetail</title>

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/goodsPage/goodsDetail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <th:block th:replace="~{/common/header}">header.html</th:block>
    <!-- ----------------------------------------- -->


    <main>
        <section class="center" id="item-detail">
            <div class="noto-sans-kr flex">
                <div>
                    <a th:href="@{#}" id="goToList"><span>목록으로</span></a>
                </div>
            </div>
            <!-- 상품 정보 영역 -->
            <div id="item-info">
                <div id="image-area">
                    <div id="imageSlide">
                        <img th:if="${goods != null and goods.image != null}"
                            th:src="${goods.image.imagePath}+${goods.image.imageRename}">
                    </div>
                    <!-- soldout 이미지 -->
                    <div th:classappend="${goods.goodsStock == 0 ? 'show' : ''}" class="sold-out" id="sold-out">
                        <img th:src="@{/images/goods/soldout.jpg}" style="width: 500px; height: 500px;">
                    </div>


                </div>

                <div id="info-area">
                    <div class="flex" id="item-title">
                        <h1 th:text="${goods.boardTitle}">상품 이름</h1>
                        <span th:if="${session.loginMember != null && session.loginMember.isAdmin == 'Y'}"><img th:src="@{/images/svg/케밥메뉴.svg}" id="ud-menu"></span>

                        <!-- 관리자만 볼 수 있게 -->
                        
                        <div class="dropdown-menu" >
                            <button id="editBtn">수정하기</button>
                            <button id="deleteBtn">삭제하기</button>
                        </div>
                    </div>
                    <div id="item-price">
                        <h1 th:text="${#numbers.formatDecimal(goods.goodsPrice, 0, 'COMMA', 0, 'POINT')} + '원'">굿즈 가격
                        </h1>
                    </div>

                    <!--  상품 수량에 따른 가격 변화 -->
                    <form th:action="@{/goods/order}" method="POST">
                        <input type="hidden" name="boardNo" th:value="${goods.boardNo}">
                        <div class="flex" id="count-price">


                            <div class="number-input">
                                <button type="button" class="minus">-</button>
                                <input type="number" name="quantity" id="quantity" value="1" min="1"
                                    th:max="${goods.goodsStock}">
                                <button type="button" class="plus">+</button>
                            </div>

                            <div>
                                <h1 class="total-price"
                                    th:text="${#numbers.formatDecimal(goods.goodsPrice, 0, 'COMMA', 0, 'POINT')} + '원'">
                                    굿즈
                                    가격</h1>
                                <input type="hidden" name="totalPrice" id="total-price" th:value="${goods.goodsPrice}">
                            </div>
                        </div>
                        <div id="cart-buy" class="flex">
                            <!-- 장바구니 버튼 -->
                            <button type="button" id="shopping-cart" class="pointer">
                                <img th:src="@{/images/svg/Shopping Cart.svg}" style="width: 100px; height: 60px;">
                            </button>
                            <!-- 줌누 버튼 -->
                            <button class="flex pointer" id="buy">
                                <img th:src="@{/images/svg/Won.svg}" style="width: 100px; height: 60px;">
                                <h2>구매하기</h2>
                            </button>
                        </div>
                    </form>
                </div>


            </div>

            <!-- 별점 / 리뷰 수 -->
            <div class="flex" id="star-rating">
                <div>
                    <i class="fas fa-star yellow" style="font-size: 30px;"></i>
                    <span style="font-size: 20px; font-weight: bold;" th:text="${goods.avgRating}">굿즈 평점</span>
                </div>
                <div>
                    <i class="fas fa-comment-alt" style="font-size: 30px;"></i>
                    <span style="font-size: 20px; font-weight: bold;" th:text="${goods.reviewCount}">리뷰 수</span>
                </div>
            </div>


        </section>

        <!-- 비슷한 상품 목록 섹션 -->
        <section id="similar-item" class="flex center">
            <button id="left-out-btn"><img th:src="@{/images/svg/왼쪽.svg}"></button>

            <div class="center" id="image-container">
                <div class="flex" id="image-slide">

                    <div th:each="gList : ${goodsList}" class="similar-items flex direction-column">
                        <a th:href="${gList.goodsNo}">
                            <div class="similar-image-container">
                                <img th:src="${gList.imagePath}+${gList.imageRename}">
                            </div>
                            <div class="similar-info-container flex direction-column">
                                <p class="similar-name" th:text="${gList.goodsTitle}">상품 이름</p>
                                <span class="similar-price"
                                    th:text="${#numbers.formatDecimal(gList.goodsPrice, 0, 'COMMA', 0, 'POINT')} + '원'">상품
                                    가격</span>
                            </div>
                        </a>
                    </div>

                </div>

            </div>

            <button id="right-out-btn"><img th:src="@{/images/svg/오른쪽.svg}"></button>

        </section>

        <!-- 상품 정보, 리뷰, qna, 반품 교환 -->
        <section class="flex center" id="cate-btn">
            <a th:href="@{#goods-info}"><button>상품 정보</button></a>
            <a th:href="@{#goods-review}"><button>리뷰</button></a>
            <a th:href="@{#goods-qna}"><button>QnA</button></a>
            <a th:href="@{#goods-exchange}"><button>반품/교환 정보</button></a>
        </section>

        <!-- 상품 상세 정보 -->
        <section id="goods-info" class=" center">
            <div class="flex">
                <h1 class="text-green">상품 정보</h1>
            </div>
            <div id="goods-info-img">
                <img th:src="${goods.boardContent}">
            </div>
        </section>

        <!-- 상품 리뷰 -->
        <section id="goods-review" class="center">
            <div class="flex">
                <h1 class="text-green">리뷰</h1>
            </div>
            <div class="flex">
                <div class="flex direction-column">
                    <span class="text-size-20 medium-text">사용자 총 평점</span>
                    <span>
                        <i class="fa-solid fa-star" style="color: gold; font-size: 30px;"></i>
                        <i class="fa-solid fa-star" style="color: gold; font-size: 30px;"></i>
                        <i class="fa-solid fa-star" style="color: gold; font-size: 30px;"></i>
                        <i class="fa-solid fa-star" style="color: gold; font-size: 30px;"></i>
                        <i class="fa-solid fa-star" style="color: gold; font-size: 30px;"></i>
                    </span>
                    <div>
                        <span class="text-size-24  bold-text" th:text="${goods.avgRating}"> 평균 평점</span>
                        <span class="opacity text-size-24 ">/5</span>
                    </div>
                </div>
                <div class="flex direction-column">
                    <span>전체 리뷰 수</span>
                    <span><i class="fas fa-comment-alt" style="font-size: 30px;"></i></span>
                    <span class="text-size-24  bold-text" th:text="${goods.reviewCount}">리뷰 수</span>
                </div>
            </div>

            <div class="flex">
                <a class="text-deco medium-text pointer"
                    th:attr="onclick=|goodsReviewList('${goods.boardNo}', 1, true, 'basic')|">최신순</a> <span>|</span>
                <a class="text-deco text-opacity medium-text pointer"
                    th:attr="onclick=|goodsReviewList('${goods.boardNo}', 1, true, 'topRate')|">평점 높은순</a>
                <span>|</span>
                <a class="text-deco text-opacity medium-text pointer"
                    th:attr="onclick=|goodsReviewList('${goods.boardNo}', 1, true, 'underRate')|">평점 낮은순</a>
            </div>

            <!-- 리뷰 목록 -->
            <ul id="review-list">
                <div th:if="${reviewList == null or #lists.isEmpty(reviewList)}">
                    <h2 style="text-align: center; padding: 50px; color: #166549; font-size: 1.25rem;">
                        아직 이 상품의 첫 번째 리뷰가 등록되지 않았어요. 당신이 솔직한 후기를 남겨 가장 먼저 별점을 채워주세요!
                    </h2>
                </div>
                <li class="review flex" th:each="re : ${reviewList}">
                    <th:block th:text="${review}"></th:block>
                    <div class="flex" style="gap: 30px;">
                        <div>
                            <!-- 유저 프로필 -->
                            <!--th:if="${session.loginMember.profileImg}"  -->
                            <img th:src="@{/images/member/짱구.jpg}">
                        </div>
                        <div class="flex direction-column" style="gap: 10px;">
                            <div>
                                <th:block th:if="${re.rating}>=1">
                                    <i th:each="i : ${#numbers.sequence(1, 5)}"
                                        th:class="${i <= re.rating} ? 'fa-solid fa-star' : 'fa-regular fa-star'"></i>

                                </th:block>

                                <span class="medium-text" th:text="${re.rating}">구매 평점</span>
                            </div>
                            <div class="flex" style="gap: 10px;">
                                <span class="light-text">holysik</span>
                                <span class="light-text" th:text="${re.reviewCreateDate}">2025.09.26</span>
                            </div>
                            <div>
                                <span class="medium-text" th:text="${goods.boardTitle}">다시마 텀블러</span>
                            </div>
                            <div class="review-content medium-text" th:text="${re.comment}">
                                리뷰 내용
                            </div>
                        </div>
                    </div>

                    <div>
                        <!-- 리뷰에 단 이미지 ? or 상품 대표 이미지 -->
                        <img th:src="${re.reviewImgPath}+${re.reviewImgRename}">
                    </div>

                </li>
                <th:block th:text="${goods.boardNo}"></th:block>

                <div class="pagination" th:if="${reviewList != null and !#lists.isEmpty(reviewList)}">

                    <ul>
                        <!-- 첫 페이지로 이동 -->
                        <!-- boardCode : @PathVariable로 request scope에 세팅된 값 -->

                        <!-- onclick 인식 못해서 attr 써서 해야함 ㅠㅠ -->
                        <li><button th:attr="onclick=|goodsReviewList('${goods.boardNo}', 1, true)|">&lt;&lt;</button>
                        </li>

                        <!-- 이전 목록 마지막 번호로 이동 -->
                        <li><button
                                th:attr="onclick=|goodsReviewList('${goods.boardNo}', ${pagination.prevPage}, true)|">&lt;</button>
                        </li>


                        <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

                            <!-- 현재 보고있는 페이지 -->
                            <li th:if="${pagination.currentPage == i}">
                                <button class="current" th:text="${i}">현재 페이지</button>
                            </li>

                            <!-- 현재 페이지를 제외한 나머지 -->
                            <li th:unless="${pagination.currentPage == i}">
                                <button th:attr="onclick=|goodsReviewList('${goods.boardNo}',${i}, true)|"
                                    th:text="${i}">나머지 페이지</button>
                            </li>
                        </th:block>



                        <!-- 다음 목록 시작 번호로 이동 -->
                        <li><button
                                th:attr="onclick=|goodsReviewList('${goods.boardNo}', ${pagination.nextPage}, true)|">&gt;</button>
                        </li>

                        <!-- 끝 페이지로 이동 -->
                        <li><button
                                th:attr="onclick=|goodsReviewList('${goods.boardNo}', ${pagination.maxPage}, true)|">&gt;&gt;</button>
                        </li>
                    </ul>

                </div>


            </ul>



        </section>


        <!-- 상품 QnA -->
        <section id="goods-qna" class="center">
            <div class="flex" style="gap: 10px;">
                <h1 class="text-green">QnA</h1>

            </div>
            <div class="qna-write flex direction-column">
                <span>구매하시려는 상품에 대해 궁금한 점이 있으신 경우 문의해주세요.</span>
                <button class="medium-text " id="qna-write-btn">상품 QnA 작성하기</button>
                <form action="" id="qna-frm" class="display-none">
                    <textarea class="qna-write-area text-size-20 medium-text" name="commentContent"
                        id="commentContent"></textarea>
                    <label for="secretCheck">비밀글</label>
                    <input type="checkbox" id="secretCheck">
                    <button id="commit-btn">등록</button>
                    <button type="button" id="cancel-btn">취소</button>

                </form>

            </div>

            <ul id="qna-list">
                <!-- <th:block th:text="${qnaList}"></th:block> -->

                <!-- qnaList가 null 이거나 비어있을 때 -->
                <div th:if="${qnaList == null or #lists.isEmpty(qnaList)}">
                    <h2 style="text-align: center; padding: 50px; color: #166549; font-size: 1.25rem;">
                        등록된 QnA가 없습니다. 첫 질문을 남겨보세요!
                    </h2>
                </div>

                <li class="qna-item" th:each="com : ${qnaList}">


                    <!-- 로그인 추가 시 다시 활성화 -->
                    <th:block
                        th:with=" isLogin = ${session.loginMember != null}
                                    , adminYN = ${isLogin && session.loginMember.isAdmin == 'Y'}
                                    ,isPermission = ${isLogin && (session.loginMember.memberNo == com.memberNo || session.loginMember.isAdmin == 'Y')}">
                        <div class="qna-header" th:if="${com.level == 1}" th:data-comment-no="${com.commentNo}">




                            <!-- 관리자 / 작성유저 조건   -->
                            <span style="width: 15%;">
                                <!-- 1. 비밀글인 경우 isSecret == 'Y' -->
                                <th:block th:unless="${com.isSecret == 'N'}">
                                    <!--  th:unless="${isPermission}" -->
                                    <span class="status-secret">
                                        <!--  비밀글 && 답변 완료 -->
                                        <th:block th:if="${com.commentStatus == 'PUBLISHED'}">답변완료 🔒</th:block>
                                        <!-- 비밀글 && 미답변 -->
                                        <th:block th:if="${com.commentStatus == 'PENDING'}">미답변 🔒</th:block>
                                    </span>

                                    <th:block th:if="${com.isSecret == 'N'}">
                                        <span th:if="${com.commentStatus == 'PUBLISHED'}" class="status-completed">
                                            답변완료
                                        </span>
                                        <span th:if="${com.commentStatus == 'PENDING'}" class="status-pending">
                                            미답변
                                        </span>
                                    </th:block>
                                </th:block>

                                <!-- 2. 공개글인 경우 isSecret == 'N' -->
                                <th:block th:if="${com.isSecret == 'N'}">
                                    <!-- 공개글 && 답변 완료 -->
                                    <span th:if="${com.commentStatus == 'PUBLISHED'}"
                                        class="status-completed">답변완료</span>
                                    <!-- 공개글 && 미답변 -->
                                    <span th:if="${com.commentStatus == 'PENDING'}" class="status-pending">미답변</span>
                                </th:block>
                            </span>


                            <!-- 비밀글 x 전부 볼 수 있게-->
                            <th:block th:if="${com.isSecret != 'Y'}">
                                <span style="width: 50%; font-weight: bold;" class="pointer"
                                    th:text="${com.commentContent}">질문내용</span>
                            </th:block>

                            <th:block th:unless="${com.isSecret != 'Y'}">
                                <span style="width: 50%;" th:unless="${isPermission}"
                                    class="pointer status-secret">비밀글입니다. 🔒</span>

                                <span style="width: 50%; font-weight: bold;" th:if="${isPermission}" class="pointer"
                                    th:text="${com.commentContent}">질문내용</span>
                            </th:block>


                            <span style="width: 15%; text-align: right;" th:text="${com.memberNickname}">작성자 이름</span>
                            <span style="width: 20%; text-align: right; color: #888;"
                                th:text="${com.commentCreateDate}">2025.09.18</span>

                        </div>




                        <!-- 이걸 ㅈ건을 pending 이면서 관리자일때만 뜨게 ? -->
                        <th:block th:if="${adminYN}">
                            <form action="" th:if="${com.commentStatus == 'PENDING'}" class="answer-write-form"
                                id="answer-write-form">
                                <textarea name="commentAnswer" id="commentAnswer"></textarea>
                                <div class="flex">
                                    <button type="button" id="comment-commit-btn" class="pointer">등록</button>
                                    <button type="button" id="comment-cancel-btn" class="pointer">취소</button>
                                </div>
                            </form>

                        </th:block>

                        <div th:if="${com.level==2}" class="qna-answer">

                            <th:block th:if="${com.isSecret != 'Y'}">
                                <div style="margin-bottom: 5px;">ㄴ 답변 <span th:text="${com.commentContent}"> 답글
                                        내용</span>
                                </div>
                            </th:block>

                            <th:block th:unless="${com.isSecret != 'Y'}">
                                <div style="margin-bottom: 5px;" th:unless="${isPermission}" class="status-secret">ㄴ 답변:
                                    비밀글에 대한 답변입니다. 🔒</div>
                                <div style="margin-bottom: 5px;" th:if="${isPermission}">ㄴ 답변
                                    <span th:text="${com.commentContent}"> 답글 내용</span>
                                </div>
                            </th:block>

                            <div class="qna-info">
                                <span th:text="${com.memberNickname}">관리자</span>
                                <span style="margin-left: 10px;" th:text="${com.commentCreateDate}">2025.09.23</span>
                            </div>
                        </div>

                    </th:block>
                </li>





                <!-- 게시글이 있을 때만 페이지네이션 보이기! -->
                <div class="pagination" th:if="${qnaList != null and !#lists.isEmpty(qnaList)}">

                    <ul>
                        <!-- 첫 페이지로 이동 -->
                        <!-- boardCode : @PathVariable로 request scope에 세팅된 값 -->

                        <!-- onclick 인식 못해서 attr 써서 해야함 ㅠㅠ -->
                        <li><button th:attr="onclick=|goodsQnaList('${goods.boardNo}', 1, true)|">&lt;&lt;</button></li>

                        <!-- 이전 목록 마지막 번호로 이동 -->
                        <li><button
                                th:attr="onclick=|goodsQnaList('${goods.boardNo}', ${pagination.prevPage}, true)|">&lt;</button>
                        </li>


                        <th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">

                            <!-- 현재 보고있는 페이지 -->
                            <li th:if="${pagination.currentPage == i}">
                                <button class="current" th:text="${i}">현재 페이지</button>
                            </li>

                            <!-- 현재 페이지를 제외한 나머지 -->
                            <li th:unless="${pagination.currentPage == i}">
                                <button th:attr="onclick=|goodsQnaList('${goods.boardNo}',${i}, true)|"
                                    th:text="${i}">나머지 페이지</button>
                            </li>
                        </th:block>


                            <!-- 다음 목록 시작 번호로 이동 -->
                            <li><button
                                    th:attr="onclick=|goodsQnaList('${goods.boardNo}', ${pagination.nextPage}, true)|">&gt;</button>
                            </li>

                            <!-- 끝 페이지로 이동 -->
                            <li><button
                                    th:attr="onclick=|goodsQnaList('${goods.boardNo}', ${pagination.maxPage}, true)|">&gt;&gt;</button>
                            </li>
                    </ul>

                </div>
                <div th:unless="${qnaList}">
                    <h2>현재 qna 없음</h2>

                </div>
            </ul>




        </section>



        <!-- 반품 교환 정보 -->
        <section id="goods-exchange" class="center">
            <div class="flex" style="gap: 10px;">
                <h1 class="text-green">반품 / 교환 정보</h1>
            </div>

            <div>
                <h2>다시마켓 반품 / 교환 안내</h2>
            </div>

            <table class="info-table">
                <tr>
                    <th>지정 택배사</th>
                    <td colspan="3">CJ 대한통운</td>
                </tr>
                <tr>
                    <th>반품배송비</th>
                    <td>편도 3000원</td>
                    <th>교환배송비</th>
                    <td>6000원</td>

                </tr>
                <tr>
                    <th>보내실 곳</th>
                    <td colspan="3">서울특별시 종로구 우정국로2길 219층, 903호</td>
                </tr>
                <tr>
                    <th>반품/교환 사유에 따른 요청 가능기간</th>
                    <td colspan="3">
                        구매자 단순 변심은 상품 수령 후 7일 이내 (구매자 반품배송비 부담) <br>
                        표시/광고와 상이, 계약 내용과 다르게 이행된 경우 상품 수령 후 3개월 이내 혹은 표시/광고와 다른 사실을 안 날로부터 30일 이내 둘 중 하나 경과 시 반품/교환 불가
                    </td>
                </tr>
                <tr>
                    <th>반품/교환 불가 사유</th>
                    <td colspan="3">
                        <ol style="margin-left: 20px;" class="medium-text">
                            <li>반품 요청기간이 지난 경우</li>
                            <li>구매자의 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우</li>
                            <li>구매자의 책임 있는 사유로 포장이 훼손되어 상품 가치가 현저히 상실된 경우</li>
                            <li>구매자의 사용 또는 일부 소비에 의하여 상품의 가치가 현저히 감소한 경우</li>
                            <li>시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우</li>
                            <li>고객의 요청사항에 맞춰 제작에 들어가는 맞춤 제작 상품의 경우</li>
                            <li>복제가 간으한 상품 등의 포장을 훼손한 경우</li>
                        </ol>
                    </td>
                </tr>
            </table>


        </section>

    </main>

    <th:block th:replace="~{common/footer}">footer.html</th:block>

    <th:block th:if="${session.loginMember}">
        <th:block th:replace="~{chatting/chatting}">chatting.html</th:block>
        <script th:src="@{/js/chatting/chatting.js}"></script>
    </th:block>

    <script th:inline="javascript">

        const loginMember = /*[[${session.loginMember}]]*/ '';

        const boardNo = /*[[${goods.boardNo}]]*/ '게시글 번호';

    </script>

    <script th:src="@{/js/goodsPage/goodsDetail.js}"></script>

</body>

</html>