a {
    text-decoration: none;
    color: black;
}

.body {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}


/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 광고 배너 */
#ad-banner {
    background-color: #166549;
    width: 1200px;
    border: 1px solid gray;
    height: 300px;
    margin: 40px 0px;
}

#ad-banner > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 상품 정렬, 상품 등록 버튼 컨테이너 */
.btn-container {
    position: relative;
    display: flex;
    margin: 40px 0px;
    justify-content: space-between;
}

/* 상품 정렬 */
#select-sort {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #166549;
    border-radius: 10px;
}

#select-sort:hover {
    background-color: #298C69;
    cursor: pointer;
}

#sort-text {
    padding-right: 20px;
    line-height: 50px;
    color: white;
}

#drop-down-icon {
    position: absolute;
    right: 20px;
}

/* 드롭다운 메뉴 */
.show {
    display: block !important;
}

#select-sort-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 2px solid #298C69;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    width: 150px;
    gap: 10px;
}

#select-sort-box  a > div {
    text-align: center;
    padding: 5px;
    color: black;
}

#select-sort-box a div:hover {
    border-bottom: 2px solid #166549;
}

/* 상품 등록 */
.upload-goods-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #166549;
    border-radius: 10px;
}

.upload-goods-btn:hover {
    background-color: #298C69;
    cursor: pointer;
}

#upload-goods-text {
    padding: 15px;
    color: white;
}

/* 제품 컨테이너 */
#goods-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개씩 보이기 */
    gap: 26px;
    margin-bottom: 60px;
}

/* 개별 상품 카드 */
.goods-detail-area {
    display: flex;
    flex-direction: column;
}

/* 이미지 정사각형으로 통일하기 */
.goods-img {
    position: relative;
    aspect-ratio: 1 / 1; /* 정사각형 박스 */
    overflow: hidden;
    border-radius: 10px;
}

.sold-out{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.goods-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 꽉 채우기 */
    border-radius: 10px;
}

/* 제품명 및 가격 */
.goods-name {
    padding-top: 5px;
    padding-left: 5px;
}

.goods-price {
    padding-left: 5px;
}




/* 페이지네이션 */
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

.current{
    font-weight: bold;
    background-color: #166549;
    border-radius: 50%;
    color: white !important;
    letter-spacing: 0 !important;
}