<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>내가 찜한 상품</title>

  <link rel="stylesheet" th:href="@{/css/myPage/myPage-wishlist.css}">
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/common/footer.css}">
  <link rel="stylesheet" th:href="@{/css/common/font.css}">
  <link rel="stylesheet" th:href="@{/css/common/pagination.css}">

</head>

<body>

<th:block th:replace="~{common/header}">header.html</th:block>

<main>

   
<section class="myPage-content">

 <section class="left-side">

    <nav>

    <div class="left-title text-size-28 bold-text">마이페이지</div>


    <ul class="left-menu">
        <li class="text-size-18 bold-text">
            <img th:src="@{/images/myPage/shopping.png}" alt="주문내역/구매내역" width="40px" height="40px">
            주문내역/구매내역

            <ul>
                    
                    <li><a href="myPage_order.html">직거래</a></li>
                
                    <li><a href="myPage_order.html">굿즈</a></li>
               
                    <li><a href="myPage_order.html">나눔</a></li>
                
            </ul>        
        </li>
    </ul>

    <ul class="left-menu">
        <li class="text-size-18 bold-text">
            <img th:src="@{/images/myPage/product.png}" alt="상품관리"  width="40px" height="40px">
            상품관리
            <ul class="left-submenu">
                
                    <li><a href="">내가 찜한 상품</a></li>
            
            </ul>
        </li>
    </ul>

    <ul class="left-menu">
        <li class="text-size-18 bold-text">
            <img th:src="@{/images//myPage/myinfo.png}" alt="내 정보 관리" width="40px" height="40px">
            내 정보 관리       
            <ul class="left-submenu">
                
                
                    <li><a th:href="@{/myPage/profile}">프로필 관리</a></li>
                
                    <li><a th:href="@{/myPage/secession}">회원탈퇴</a></li>
                       
            </ul>
        </li>   
    </ul>
    </nav>
    
  </section>

  
  <section class="myPage-main">
	  
	  <span class="myPage-title text-size-24 bold-text">내가 찜한 상품</span>
      <br><br>

      <div class="list">

    <!-- 반복문 시작 controller model로 넘어온 데이타 -->
    <div th:each="item : ${wishList}" class="item" th:attr="data-id=${item.boardNo}">
      
      <!-- 썸네일 이미지 -->
      <img class="thumb" th:src="@{${item.thumbnail}}" alt="상품이미지" />

      <div class="meta">
        <p class="title" th:text="${item.joonggoTitle}">상품 이름</p>
        <!-- 필요 시 옵션 정보 추가 -->
        <!-- <p class="opts">사이즈: 260 / 색상: 화이트</p> -->
      </div>

      <div class="price-area">
        <div class="price" th:text="${item.joonggoPrice}">₩59,000</div>
      </div>

      <div class="actions">
        <button class="btn btn-delete"
                th:attr="data-id=${item.boardNo}, data-action='delete'">
          삭제
        </button>
      </div>

    </div>
    <hr th:each="item, iterStat : ${wishList}" th:if="${!iterStat.last}">
    <!-- 반복문 끝 -->

  </div>

       
       <!--  <span class="myPage-title text-size-24 bold-text">내가 찜한 상품</span> <br>
       
       <br>

       <div class="list">

          <div class="item" data-id="p1">
              <img class="thumb" src="../../../resources/static/images/goods/blanket.png" />
              <div class="meta">
                 <p class="title">상품 이름 1 — 편안한 스니커즈</p>
                 <p class="opts">사이즈: 260 / 색상: 화이트</p>
              </div>
              <div class="price-area">
                 <div class="price">₩59,000</div>
              </div>
              <div class="actions">
                  <button class="btn btn-delete" data-action="delete">삭제</button>
              </div>
          </div>
          <hr>

           <div class="item" data-id="p2">
              <img class="thumb" src="../../../resources/static/images/goods/socks.png" />
              <div class="meta">
                 <p class="title">상품 이름 1 — 편안한 스니커즈</p>
                 <p class="opts">사이즈: 260 / 색상: 화이트</p>
              </div>
              <div class="price-area">
                 <div class="price">₩59,000</div>
              </div>
              <div class="actions">
                  <button class="btn btn-delete" data-action="delete">삭제</button>
              </div>
          </div>
          <hr>

           <div class="item" data-id="p3">
              <img class="thumb" src="../../../resources/static/images/goods/echo-bag.png" />
              <div class="meta">
                 <p class="title">상품 이름 1 — 편안한 스니커즈</p>
                 <p class="opts">사이즈: 260 / 색상: 화이트</p>
              </div>
              <div class="price-area">
                 <div class="price">₩59,000</div>
              </div>
              <div class="actions">
                  <button class="btn btn-delete" data-action="delete">삭제</button>
              </div>
          </div>
          <hr>

           <div class="item" data-id="p4">
              <img class="thumb" src="../../../resources/static/images/goods/mug-cup.png" />
              <div class="meta">
                 <p class="title">상품 이름 1 — 편안한 스니커즈</p>
                 <p class="opts">사이즈: 260 / 색상: 화이트</p>
              </div>
              <div class="price-area">
                 <div class="price">₩59,000</div>
              </div>
              <div class="actions">
                  <button class="btn btn-delete" data-action="delete">삭제</button>
              </div>
          </div>
          <hr>

       </div>  -->

      
    </section>
    
    

 </section>

</main>


<!--
      <nav aria-label="페이지네이션">
        <ul class="pagination">
          <li><button type="button" class="pagination-btn" aria-label="이전 페이지"><img src="../../../resources/static/images/pagination/pagn-previous-btn.svg"></button></li>
          <li><button type="button" aria-current="page" aria-label="1페이지">1</button></li>
          <li><button type="button" aria-label="2페이지">2</button></li>
          <li><button type="button" aria-label="3페이지">3</button></li>
          <li><button type="button" aria-label="4페이지">4</button></li>
          <li><button type="button" aria-label="5페이지">5</button></li>
          <li><button type="button" aria-label="6페이지">6</button></li>
          <li><button type="button" aria-label="7페이지">7</button></li>
          <li><button type="button" aria-label="8페이지">8</button></li>
          <li><button type="button" aria-label="9페이지">9</button></li>
          <li><button type="button" aria-label="10페이지">10</button></li>
          <li><button type="button" class="pagination-btn" aria-label="다음 페이지"><img src="../../../resources/static/images/pagination/pagn-next-btn.svg"></button></li>
        </ul>
      </nav>-->
  
    
  <!--footer-->
  <th:block th:replace="~{common/footer}"></th:block>

  <script th:src="@{/js/myPage/myPage-wishlist.js}"></script>

  
</body>
</html>


   

