<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/myPage/myPage-profile.css}">  
    <link rel="stylesheet" href="@{/css/common/header.css}">
    <link rel="stylesheet" href="@{/css/common/footer.css}">
    <link rel="stylesheet" href="@{/css/common/font.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title>프로필 관리</title>
</head>
<body>

    <!--header-->

    <th:block th:replace="~{common/header}"></th:block>



<main>

    
<!--왼쪽 사이드메뉴-->

<section class="myPage-content">

<section class="left-side">

    <nav>

    <div class="left-title text-size-28 bold-text">마이페이지</div>


    <ul class="left-menu">
        <li class="text-size-18 bold-text">
            <img th:src="@{/images/myPage/shopping.png}" alt="주문내역/구매내역" width="40px" height="40px">
            주문내역/구매내역

            <ul>
                    
                    <li><a href="myPage_order.html">직거래</a></li>
                
                    <li><a href="myPage_order.html">굿즈</a></li>
               
                    <li><a href="myPage_order.html">나눔</a></li>
                
            </ul>        
        </li>
    </ul>

    <ul class="left-menu">
        <li class="text-size-18 bold-text">
            <img th:src="@{/images/myPage/product.png}" alt="상품관리"  width="40px" height="40px">
            상품관리
            <ul class="left-submenu">
                
                    <li><a href="">내가 찜한 상품</a></li>
            
            </ul>
        </li>
    </ul>

    <ul class="left-menu">
        <li class="text-size-18 bold-text">
            <img th:src="@{/images//myPage/myinfo.png}" alt="내 정보 관리" width="40px" height="40px">
            내 정보 관리       
            <ul class="left-submenu">
                
                
                    <li><a href="myPage-profile.html">프로필 관리</a></li>
                
                    <li><a href="myPage_secession.html">회원관리</a></li>
                       
            </ul>
        </li>   
    </ul>
    </nav>
    
</section>

<!--프로필 관리-->

        <section class="myPage-main">

            <span class="myPage-title text-size-24 bold-text" >프로필 관리</span> <br>
            <span class="myPage-subtitle text-size-10">내 정보를 변경할 수 있습니다.</span>

            <form th:action="@{/myPage/profile}" method="post" class="myPage">

              
                <div class="myPage-profile">
                    <a th:href="@{/}"></a>
                    <button class="text-size-12">프로필 사진 변경</button>
                </div>


                <div class="myPage-infoField">

                    <div class="myPage-row">
                        <div class="myPage-label text-size-18 bold-text">아이디</div>
                        <div class="myPage-display text-size-18">푸른바다의 전달</div>
                        <div></div>                            
                    </div>

                    <div class="myPage-row">
                        <div class="myPage-label text-size-18 bold-text">패스워드</div>
                        <div>
                            <input type="text" class="myPage-input text-size-18">
                            <button class="myPage-actionButton text-size-16">변경</button>
                        </div>
                    </div>

                    <div class="myPage-row">
                        <div class="myPage-label text-size-18 bold-text">닉네임</div>
                        <div>
                            <input type="text" class="myPage-input text-size-18">
                            <button class="myPage-actionButton text-size-16">변경</button>
                        </div>
                    </div>

                    <div class="myPage-row">
                        <div class="myPage-label text-size-18 bold-text">전화번호</div>
                        <div>
                            <input type="text" class="myPage-input text-size-18"> 
                            <button class="myPage-actionButton text-size-16">변경</button>
                        </div>
                    </div>

                    <div class="myPage-row">
                        <div class="myPage-label text-size-18 bold-text">이메일</div>
                        <div>
                            <input type="text" class="myPage-input text-size-18">
                            <button class="myPage-actionButton text-size-16">변경</button>
                        </div>
                    </div>

                    <div class="myPage-row">
                        <div class="myPage-label text-size-18 bold-text">가입일자</div>
                        <div class="myPage-display text-size-18">2025년 9월 25일</div>                            
                    </div>
                    </div>

                <div class="myPage-addressSection">
                    <span class="myPage-label text-size-18 bold-text">주 소</span>                                   
                        <div class="myPage-addpost">
                            <input type="text" class="myPage-postinput text-size-20" placeholder="우편번호"> 
                            <button class="myPage-addactionButton text-size-18">검색</button>
                        </div>
                                        
                        <div class="myPage-addinputDong">
                            <input type="text" class="myPage-addinputDongDetail1 text-size-18" placeholder="도로명/지번 주소">
                            <div class="myPage-addinputDongInside">
                            <input type="text" class="myPage-addinputDongDetail2 text-size-18" placeholder="상세주소">
                            <input type="text" class="myPage-addinputDongDetail3 text-size-18" placeholder="동">
                            </div>
                        </div>
                </div>
                

                <div class="myPage-buttons">
                <button class="myPage-submit text-size-18">수정하기</button>
                <!-- <button class="myPage-submit">수정완료</button> -->
                 </div>
              
            </form>

        </section>

    </section>
    
</main>

    <!--footer-->

    <th:block th:replace="~{common/footer}"></th:block>

        


</body>
</html>