<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" th:href="@{/css/common/intro.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">

</head>

<body>
    <section>

        <!-- 상단 로그인 버튼 -->
        <div id="header-login">
            <th:block th:if="${session.loginMember}">
                <span th:text="${session.loginMember.memberNickname} + '님 환영합니다!'" class="text-size-14" style="margin-right: 15px;">닉네임님 환영합니다!</span>
                <a th:href="@{/member/logout}">로그아웃</a>
            </th:block>
            
            <th:block th:unless="${session.loginMember}">
                 <a th:href="@{/member/login}">로그인</a>
            </th:block>
        </div>


        <!-- 로고 -->
        <div id="intro-logo-div">
            <img th:src="@{/images/common/logo.png}" id="intro-big-logo">
            <div id="intro-text" class="bold-text">오늘도 착한 소비를 하러 오셨군요!</div>
        </div>

        <!-- 동네 및 검색 -->
        <div id="row1">

            <!-- 선택한 동네 -->
            <div id="select-city" class="bold-text">
                <div><img th:src="@{/images/svg/location.svg}" alt=""></div>
                <div id="city-name" class="text-size-20">관철동</div>
            </div>

            <!-- 검색 -->
            <div id="intro-search">
                <img th:src="@{/images/svg/searchIcon.svg}" id="search-icon">
                <input type="text" placeholder="검색어를 입력해주세요." class="text-size-14">
            </div>
        </div>

        <div id="row2">
            <!-- 중고거래 -->
            <a th:href="@{/joonggo}">
                <div class="intro-box">
                    <div><img th:src="@{/images/svg/intro-giveIcon.svg}" class="intro-icon"></div>
                    <div class="category-text bold-text text-size-20">중고거래</div>
                </div>
            </a>

            <!-- 굿즈 판매 -->
            <a th:href="@{/goods}">
                <div class="intro-box">
                    <div><img th:src="@{/images/svg/intro-goods.svg}" class="intro-icon"></div>
                    <div class="category-text bold-text text-size-20">굿즈판매</div>
                </div>
            </a>

            <!-- 커뮤니티 -->
            <a th:href="@{/community}">
                <div class="intro-box">
                    <div><img th:src="@{/images/svg/intro-community.svg}" class="intro-icon"></div>
                    <div class="category-text bold-text text-size-20">커뮤니티</div>
                </div>
            </a>
        </div>
    </section>

    <!--footer-->

    <th:block th:replace="~{common/footer}"></th:block>

    <script th:src="@{/js/intro.js}"></script>
    
</body>

</html>