<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" th:href="@{/css/common/intro.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">

</head>

<body>
    <section>

        <!-- 상단 로그인 버튼 -->
        <div id="header-login">
            <a th:href="@{/member/login}" th:unless="${session.loginMember}" class="text-size-18 bold-text">로그인</a>
            <span class="text-size-18 bold-text"
                th:if="${session.loginMember}">[[${session.loginMember.memberNickname}]]님 환영합니다!</span>

            <!-- ✅ 관리자 페이지 버튼만 추가 -->
            <a th:if="${session.loginMember != null and session.loginMember.isAdmin == 'Y'}" th:href="@{/admin/main}"
                class="admin-page-btn">
                관리자 페이지
            </a>
            
            <a th:href="@{/member/logout}" th:if="${session.loginMember}" class="text-size-18 bold-text"
                id="logoutBtn">로그아웃</a>
        </div>


        <!-- 로고 -->
        <div id="intro-logo-div">
            <img th:src="@{/images/common/logo.png}" id="intro-big-logo">
            <div id="intro-text" class="bold-text">오늘도 착한 소비를 하러 오셨군요!</div>
        </div>

        <!-- 동네 및 검색 -->
        <div id="row1">

            <!-- 선택한 동네 -->
            <div id="select-city" class="bold-text">
                <div><img th:src="@{/images/svg/location.svg}" alt=""></div>

                <!-- 조건에 따른 동네명 -->
                <div id="city-name" class="text-size-20">

                    <!-- 선택한 동네가 있는 경우 -->
                    <span th:if="${session.selectDong}">
                        [[${session.selectDong}]]
                    </span>

                    <!-- 선택한 동네가 없는 경우 -->
                    <span th:unless="${session.selectDong}">

                        <!-- 로그인한 상태: 회원가입시 저장된 기본 동네 -->
                        <span th:if="${session.loginMember}">
                            [[${session.loginMember.jibunAddress.split('
                            ')[#arrays.length(session.loginMember.jibunAddress.split(' ')) - 2]}]]
                        </span>

                        <!-- 로그인 안 한 상태: 현재 위치 -->
                        <span th:unless="${session.loginMember}">[[${session.selectDong}]]</span>

                    </span>

                </div>
            </div>

            <!-- 검색 -->
            <div id="intro-search">
                <img th:src="@{/images/svg/searchIcon.svg}" id="search-icon">
                <input type="text" placeholder="검색어를 입력해주세요." class="text-size-14" id="query">
            </div>
            <ul id="searchResult" class="close">
                <li><a href="">안녕하세요</a></li>
                <li><a href="">안녕하세요</a></li>
                <li><a href="">안녕하세요</a></li>
            </ul>
        </div>

        <div id="row2">
            <!-- 중고거래 -->
            <a th:href="@{/joonggo}">
                <div class="intro-box">
                    <div><img th:src="@{/images/svg/intro-giveIcon.svg}" class="intro-icon"></div>
                    <div class="category-text bold-text text-size-20">중고거래</div>
                </div>
            </a>

            <!-- 굿즈 판매 -->
            <a th:href="@{/goods}">
                <div class="intro-box">
                    <div><img th:src="@{/images/svg/intro-goods.svg}" class="intro-icon"></div>
                    <div class="category-text bold-text text-size-20">굿즈판매</div>
                </div>
            </a>

            <!-- 커뮤니티 -->
            <a th:href="@{/community}">
                <div class="intro-box">
                    <div><img th:src="@{/images/svg/intro-community.svg}" class="intro-icon"></div>
                    <div class="category-text bold-text text-size-20">커뮤니티</div>
                </div>
            </a>
        </div>
    </section>

    <!--footer-->

    <th:block th:replace="~{common/footer}"></th:block>

    <!-- 카카오맵 API -->
    <script type="text/javascript"
        src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=4eadace8a189e8fb36d8ccf3d8aa6233&libraries=services"></script>
    <script th:src="@{/js/intro.js}"></script>
    <script th:inline="javascript">
        const isLogin = /*[[${session.loginMember != null}]]*/ "로그인 정보";
        const isSelectDong = /*[[${session.selectDong != null}]]*/ "선택한 동네";
    </script>
</body>

</html>