<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/logIn.css">
    <link rel="stylesheet" href="../static/css/common/font.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title>로그인</title>
</head>
<body>    

    <section class="logIn-content">

                <div class="logIn-logo">
                    <a href="@{/}"><img id="main-logo" src="../../resources/static/images/logo.png"></a>
                    <h4 class="logIn-Title">
                        다시마켓과 함께하는 착한 소비              
                    </h4>
                </div>

            <form class="logIn-form">      

                <div class="logIn-field">
                    <label class="logIn-subTitle text-size-16">아이디</label>
                    <input class="logIn-input" type="text" placeholder="abc@abc.co.kr">
                </div>
                <div class="logIn-field">
                    <label class="logIn-subTitle text-size-16">비밀번호</label>
                    <input type="text" placeholder="asd612!">
                </div>  

                <div class="logIn-field">
                <button class="logIn-button text-size-16" type="submit">로그인</button>            
                </div>

            </form>

            <div class="extra-options">                           
                    <label for=""><input type="checkbox">아이디 저장</label>                    
                    <div>계정이 없으신가요? <a href="">회원가입</a></div>
            </div>

            <div class="divider"></div>

            <div class="social-logIn">

                <div class="social-logIn-title">소셜로그인</div>                
                <div class="social-logIn-id kakao-logIn-color"><img src="../static/images/kakao.svg" alt=""><a href="">카카오로 3초만에 시작하기</a></div>          
                <div class="social-logIn-id google-logIn-color"><img src="../static/images/google.svg"" alt=""><a href="">Google로 시작하기</a></div>
                
            </div>

    </section>

        
<script src="../static/js/logIn.js"></script>

</body>
</html>