<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signUp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title>프로필 관리</title>
</head>
<body>

     <header>
        <section id="header-area">
            <div>
                <a href="@{/}">
                    <img id="main-logo" src="/images/logo.png">
                </a>

            </div>

            <div>
                <div>
                    <a href="/joongo" class="noto-sans-kr-20">중고거래</a>
                </div>
                <div>
                    <a href="/goods" class="noto-sans-kr-20">굿즈</a>
                </div>
                <div>
                    <a href="/community" class="noto-sans-kr-20">커뮤니티</a>
                </div>

            </div>
            
            <div id="icon-area">
                <button>
                    <img src="/images/하트.svg" >
                    <!-- <img src="@{/images/장바구니.svg}" > -->
                    <!-- <img src="@{/images/사람.svg}" > -->
                </button>
                    
    
                <button>
                    <img src="/images/group.svg" >
                </button>
                <button>
                    <img src="/images/clarity_menu-line.svg" >
                    
                </button>

            </div>
        </section>

        <section id="search-area">

            <form action="">
                <fieldset>
                    <img src="/images/돋보기.svg" >
                    <input type="search" name="query" id="query"
                    placeholder="검색어를 입력해주세요." class="noto-sans-kr-20">

                </fieldset>

            </form>
            
        </section>       
       

    </header>


<main class="signUp-content">

<!--프로필 관리-->
   <section class="signUp-main">
        
            <span class="signUp-title text-size-28 bold-text" >회원 가입</span>
            <span class="signUp-subtitle text-size-10">국내 1위 중고거래 온라인 거래 
                (주)다시마켓 회원가입을 환영합니다. </span>
 
            <form action="/signUp" class="signUp">

              
                <div class="signUp-row">
                    <label class="signUp-label text-size-18 bold-text">아이디(이메일)</label>
                    <input type="text" class="signUp-input text-size-18">                            
                    <button class="signUp-actionButton text-size-16">중복 검사</button>
                </div>

                <div class="signUp-row">
                    <label class="signUp-label text-size-18 bold-text">인증번호</label>
                    <input type="text" class="signUp-input text-size-18">
                    <button class="signUp-actionButton text-size-16">인증하기</button>
                </div>

                <div class="signUp-row">
                    <label class="signUp-label text-size-18 bold-text">비밀번호</label>
                    <input type="text" class="signUp-input text-size-18" placeholder="비밀번호">               
                    <input type="text" class="signUp-input text-size-18" placeholder="비밀번호 확인">
                </div>

                <div class="signUp-row">
                    <label class="signUp-label text-size-18 bold-text">닉네임</label>
                    <input type="text" class="signUp-input text-size-18" placeholder="닉네임"> 
                </div>

                <div class="signUp-row">
                    <label class="signUp-label text-size-18 bold-text">전화번호</label>
                    <input type="text" class="signUp-input text-size-18" placeholder="전화번호"> 
                </div>

                <div class="signUp-addressSection">
                    <span class="signUp-label text-size-18 bold-text">주 소</span>                                   
                        <div class="signUp-addpost">
                            <input type="text" class="signUp-postinput text-size-20" placeholder="우편번호"> 
                            <button class="signUp-addactionButton text-size-18">검색</button>
                        </div>
                    <input type="text" class="signUp-addinput text-size-18" placeholder="도로명/지번 주소">                
                    <input type="text" class="signUp-addinput text-size-18" placeholder="상세주소">
                    <input type="text" class="signUp-addinput text-size-18" placeholder="동">
                </div>

                <div class="signUp-buttons">
                <button class="signUp-submit text-size-18">가입하기</button>
                </div>
              
            </form>

    </section>
    
</main>

    
<!--footer-->

<footer>

     <div class="footer-top">
        <a th:href="@{#}"><img src="logo.png" width="100px" style="vertical-align: middle;"></a>
        <a th:href="@{#}">회사 소개</a>    
        <span>|</span>
        <a th:href="@{#}">서비스 소개</a>    
        <span>|</span>
        <a th:href="@{#}">블로그</a>    
        <span>|</span>
        <a th:href="@{#}">채용제휴 문의</a>    
        <span>|</span>
        <a th:href="@{#}">광고 문의</a>
    </div>

   <hr>

  <div class="footer-bottom">

    <div class="footer-left">
      (주) 다시마켓 <br>
대표 너구리  <br>
사업자번호 168-87-57386  <br>
직업정보제공사업 신고번호J1200020200016  <br>
통신판매신고번호 제2024-서울강남-06966호  <br>
호스팅 사업자 Amazon Web Service(AWS)<br>
주소 서울특별시 종로구 우정국로2길 21 9층, 903호  <br>
전화 1877-9292  <br>
고객문의 kelp@dasimacat.com 
    </div>
    <div class="footer-right">
      <a href="#">공지사항</a>
      <a href="#">자주묻는 질문</a> <br><br>

      <a href="#">이용약관</a>
      <a href="#">개인정보처리방침</a>

      <a href="#">운영정책</a>

      <a href="#">위치기반서비스 이용약관</a>

      <a href="#">게시글</a>
      
    </div>

    </div>



</footer>
        


</body>
</html>