<!DOCTYPE html>
<html lang="en" xmlns="http:// www.thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 관리</title>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/main/resources/static/css/adminPage/admin-style.css">

    <script src="https://kit.fontawesome.com/1c15543e3e.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <section class="admin-content">
            <!-- 사이드 메뉴 -->
            <section class="left-side">
                <img src="/src/main/resources/static/images/admin/adminLogo.png" id="logo">

                <ul class="list-group">
                    <li class="sideTitle"><img src="/src/main/resources/static/images/svg/Client Management.svg">회원관리</li>
                    <li><span>|</span> <a href="#">회원 조회</a></li>

                    <li class="sideTitle"><img src="/src/main/resources/static/images/svg/report.svg">신고관리</li>
                    <li><span>|</span> <a href="#">통합 신고</a></li>

                    <li class="sideTitle"><img src="/src/main/resources/static/images/svg/goods-admin.svg">상품/거래</li>
                    <li><span>|</span> <a href="#">상품 관리</a></li>
                    <li><span>|</span> <a href="#">거래 내역</a></li>

                    <li class="sideTitle"><img src="/src/main/resources/static/images/svg/Bar Chart.svg">데이터</li>
                    <li><span>|</span> <a href="#">이용자 수</a></li>
                    <li><span>|</span> <a href="#">품목별 거래</a></li>
                </ul>
            </section>

            <section class="admin-main">
                
                <div id="admin-user">
                    <h1 class="admin-title">회원 조회</h1>
                    <div class="admin-login">
                        <img src="/src/main/resources/static/images/admin/user.png">
                        <p>관리자 계정</p>
                        <button id="logout">로그아웃</button>
                    </div>
                </div>

                <div class="admin-group-top">
                    <form id="search-area">
                        <!-- 검색창 -->
                        <div class="search-box">
                            <label>검색</label>
                            <fieldset>
                                <input type="text" name="query" placeholder="회원ID/닉네임을 입력하세요.">
                                <button class="searchBtn fa-solid fa-magnifying-glass"></button>
                            </fieldset>
                        </div>
    
                        <!-- 상세검색 영역 -->
                        <div class="detail-search">
                            <label>상세검색</label>
                            <div class="checkbox-group">
                                <input type="checkbox"> 회원ID
                                <input type="checkbox"> 닉네임
                                <input type="checkbox"> 전화번호
                                <input type="checkbox"> 탈퇴회원
                            </div>
    
                            <!-- 초기화/검색 버튼 -->
                            <div class="search-buttons">
                                <button type="reset" class="basic-btn">초기화</button>
                                <button type="submit" class="color-btn">검색</button>
                            </div>
                        </div>
                    </form>
    
                    <div id="view-box" class="box-style">
                        <p>신규 가입자</p>
                        <p class="p-tag-value">0</p>
                    </div>
    
                    <div id="view-box2" class="box-style">
                        <p>오늘 이용자 수</p>
                        <p class="p-tag-value">0</p>
                    </div>
                </div>
                
                <!-- 회원조회 테이블 -->
                <table class="table-content">
                    <tr class="table-title">
                        <td class="fa-regular fa-square"></td>
                        <td>회원번호</td>
                        <td>회원ID</td>
                        <td>닉네임</td>
                        <td>전화번호</td>
                        <td>주소</td>
                        <td>탈퇴여부(Y/N)</td>
                        <td>가입일</td>
                        <td>글/평점</td>
                    </tr>
                    <tr>
                        <td class="fa-solid fa-square-check"></td>
                        <td>1</td>
                        <td>user01@og.or.kr</td>
                        <td>유저일</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.01</td>
                        <td>0/0.0</td>
                    </tr>
                    <tr>
                        <td class="fa-solid fa-square-check"></td>
                        <td>2</td>
                        <td>user02@og.or.kr</td>
                        <td>유저이</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.10</td>
                        <td>1/2.0</td>
                    </tr>
                    <tr>
                        <td class="fa-solid fa-square-check"></td>
                        <td>3</td>
                        <td>user03@og.or.kr</td>
                        <td>유저삼</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.10</td>
                        <td>6/3.0</td>
                    </tr>
                    <tr>
                        <td class="fa-solid fa-square-check"></td>
                        <td>4</td>
                        <td>user04@og.or.kr</td>
                        <td>유저사</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.10</td>
                        <td>5/4.0</td>
                    </tr>
                    <tr>
                        <td class="fa-solid fa-square-check"></td>
                        <td>5</td>
                        <td>user05@og.or.kr</td>
                        <td>유저오</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.15</td>
                        <td>0/0.0</td>
                    </tr>
                    <tr>
                        <td class="fa-regular fa-square"></td>
                        <td>6</td>
                        <td>user06@og.or.kr</td>
                        <td>유저육</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.11</td>
                        <td>10/3.9</td>
                    </tr>
                    <tr>
                        <td class="fa-regular fa-square"></td>
                        <td>7</td>
                        <td>user07@og.or.kr</td>
                        <td>유저칠</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.11</td>
                        <td>10/3.9</td>
                    </tr>
                    <tr>
                        <td class="fa-regular fa-square"></td>
                        <td>8</td>
                        <td>user08@og.or.kr</td>
                        <td>유저팔</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.11</td>
                        <td>10/3.9</td>
                    </tr>
                    <tr>
                        <td class="fa-regular fa-square"></td>
                        <td>9</td>
                        <td>user09@og.or.kr</td>
                        <td>유저팔</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.19</td>
                        <td>5/4.7</td>
                    </tr>
                    <tr>
                        <td class="fa-regular fa-square"></td>
                        <td>10</td>
                        <td>user10@og.or.kr</td>
                        <td>유저십</td>
                        <td>01012345678</td>
                        <td>서울시 종로구 관철동</td>
                        <td>N</td>
                        <td>2025.09.15</td>
                        <td>10/3.9</td>
                    </tr>
                </table>

            </section>
        </section>
    </main>

    <footer>
        <nav aria-label="페이지네이션">
            <ul class="pagination">
            <li><button type="button" class="pagination-btn" aria-label="이전 페이지"><img src="/src/main/resources/static/images/pagination/pagn-previous-btn.svg"></button></li>
            <li><button type="button" aria-current="page" aria-label="1페이지">1</button></li>
            <li><button type="button" aria-label="2페이지">2</button></li>
            <li><button type="button" aria-label="3페이지">3</button></li>
            <li><button type="button" aria-label="4페이지">4</button></li>
            <li><button type="button" aria-label="5페이지">5</button></li>
            <li><button type="button" aria-label="6페이지">6</button></li>
            <li><button type="button" aria-label="7페이지">7</button></li>
            <li><button type="button" aria-label="8페이지">8</button></li>
            <li><button type="button" aria-label="9페이지">9</button></li>
            <li><button type="button" aria-label="10페이지">10</button></li>
            <li><button type="button" class="pagination-btn" aria-label="다음 페이지"><img src="/src/main/resources/static/images/pagination/pagn-next-btn.svg"></button></li>
            </ul>
        </nav>
    </footer>

    <script src="/src/main/resources/static/js/adminPage/admin.js"></script>
</body>

</html>