<section class="left-side">
    <img src="/images/adminLogo.png" id="logo">

    <ul class="list-group">
        <li class="sideTitle fa-solid fa-user"> 회원관리</li>
        <li><span>|</span> <a href="#">회원 조회</a></li>
       
        <li class="sideTitle fa-solid fa-circle-exclamation"> 신고관리</li>
        <li><span>|</span> <a href="#">신고 게시글</a></li>
        <li><span>|</span> <a href="#">신고 회원</a></li>
    
    
        <li class="sideTitle fa-solid fa-clipboard-list"> 상품관리</li>
        <li><span>|</span> <a href="#">상품</a></li>
    
    
        <li class="sideTitle fa-solid fa-database"> 데이터</li>
        <li><span>|</span> <a href="#">이용자 수</a></li>
        <li><span>|</span> <a href="#">품목별 거래</a></li>
    </ul>
    
</section>