

/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------- */


/* 광고 배너 */
#ad-banner {
    background-color: #166549;
    width: 1200px;
    border: 1px solid gray;
    height: 300px;
    margin: 40px 0px;
}

#ad-banner > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 상품 정렬, 상품 등록 버튼 컨테이너 */
.btn-container {
    position: relative;
    display: flex;
    margin: 40px 0px;
    justify-content: space-between;
}

/* 상품 정렬 */
#select-sort {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #166549;
    border-radius: 10px;
}

#select-sort:hover {
    background-color: #298C69;
    cursor: pointer;
}

#sort-text {
    padding-right: 20px;
    line-height: 50px;
    color: white;
}

#drop-down-icon2 {
    position: absolute;
    right: 20px;
}

/* 드롭다운 메뉴 */
.show {
    display: block !important;
}

#select-sort-box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 2px solid #298C69;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    width: 150px;
    gap: 10px;
}

#select-sort-box  a > div {
    text-align: center;
    padding: 5px;
    color: black;
}

#select-sort-box a div:hover {
    border-bottom: 2px solid #166549;
}

/* 상품 등록 */
.upload-goods-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #166549;
    border-radius: 10px;
}

.upload-goods-btn:hover {
    background-color: #298C69;
    cursor: pointer;
}

#upload-goods-text {
    padding: 15px;
    color: white;
}

/* 제품 컨테이너 */
#joonggo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개씩 보이기 */
    gap: 26px;
    margin-bottom: 60px;
}

/* 개별 상품 카드 */
.joonggo-detail-area {
    display: flex;
    flex-direction: column;
}

/* 이미지 정사각형으로 통일하기 */
.joonggo-img {
    aspect-ratio: 1 / 1; /* 정사각형 박스 */
    overflow: hidden;
    border-radius: 10px;
}

.joonggo-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 꽉 채우기 */
    border-radius: 10px;
}

/* 제품명 및 가격 */
.joonggo-name {
    padding-top: 5px;
    padding-left: 5px;
}

.joonggo-price {
    padding-left: 5px;
}




/* 페이지네이션 */
nav {
    margin-bottom: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
}

.pagination button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: white;
    color: #666;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.pagination button:hover {
    background-color: #f8f9fa;
}

.pagination .pagination-btn:hover{
    background-color: #166549;
    color: white;
}

.pagination button[aria-current="page"] {
    background-color: #166549;
    color: white;
}

.pagination .pagination-btn {
    background-color: #166549;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 65px;
}