<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방</title>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/chatting/chatting.css}">

    <script src="https://kit.fontawesome.com/1c15543e3e.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- 채팅 영역 -->
    <div class="chatting-popup">

        <div class="popup-header">
            <p>채팅</p>
            <span id="closeBtn">&times</span>
        </div>

        <div class="chatting-body">
            <div class="search-and-list">
                <!-- 검색 -->
                <div class="search-box">
                    <p class="searchBtn fa-solid fa-magnifying-glass"></p>
                    <input type="text" id="name-search" placeholder="닉네임을 입력하세요." autocomplete="off">
                </div>
    
                <ul id="resultArea" class="hidden">
                    <li class="result-row">유저일번</li>
                </ul>
    
                <!-- 채팅 목록 -->
                <ul class="chatting-list">
    
                    <th:block th:each="room : ${roomList}">
    
                        <!-- 검색한 회원 추가 + 해당 채팅방 입장 -->
                        <li class="chatting-item" th:chat-no="${room.chattingNo}" th:target-no="${room.targetNo}">
                            <div class="item-header">
                                <img th:unless="${room.targetProfile}" th:src="@{/images/common/user.png}">
                                <img th:if="${room.targetProfile}" th:src="${room.targetProfile}">
                            </div>
        
                            <div class="item-body">
        
                                <p>
                                    <span class="target-name" th:text="${room.targetNickname}">상대방 이름</span>
                                    <span class="recent-send-time">[[${room.sendTime}]]</span>
                                </p>
                                <div>
                                    <p class="recent-message" th:text="${room.lastMessage}">메세지 내용</p>
                                    <p th:if="${room.notReadCount > 0}" class="not-read-count">[[${room.notReadCount}]]</p>
                                </div>
                            </div>
                        </li>
    
                    </th:block>
                </ul>
            </div>

            <!-- 채팅 내용 -->
            <div class="chatting-content">
                <div class="content-header">
                    <p id="selectTargetName">너구리</p>
                    <div class="button-img-box">
                        <button id="reserve">
                            <img th:src="@{/images/svg/예약.svg}" class="img-set">
                            <p>예약</p>
                        </button>
                        <button id="complete">
                            <img th:src="@{/images/svg/거래완료.svg}" class="img-set">
                            <p>거래완료</p>
                        </button>
                        <button id="exit">
                            <img th:src="@{/images/svg/Menu Vertical.svg}">
                        </button>

                        <!-- 드롭다운 -->
                        <div id="dropdown" class="dropdown hidden">
                            <p id="report-exit">신고후 나가기</p>
                            <p id="just-exit">나가기</p>
                        </div>
                    </div>
                </div>

                <ul class="display-chatting">
                    <!-- 날짜 표시
                    <li>
                        <div class="chat-date-line">
                            <hr class="line">
                            <span class="chat-date-text">2025.09.22</span>
                            <hr class="line">
                        </div>
                    </li>

                    <li class="my-chat">
                        <span class="chat-date">오후 5시30분</span>
                        <p class="chat">안녕하세요^^</p>
                    </li>

                    <li class="target-chat">
                        <img th:src="@{/images/member/짱구.jpg}">

                        <div>
                            <b>다시맛</b>
                            <div class="my-chat">
                                <p class="target">안녕하세요 ㅎㅎ</p>
                                <span class="chat-date">오후 5시30분</span>
                            </div>
                        </div>
                    </li> -->
                </ul>
                <div class="content-send">
                    <button id="img-send"><img th:src="@{/images/svg/image-btn.svg}"></button>
                    <textarea id="inputChatting" rows="3"></textarea>
                    <button id="send"><img th:src="@{/images/svg/Send-Btn.svg}"></button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{common/floatingBtn}">floatingBtn.html</th:block>

    <!----------- sockjs를 이용한 WebSocket 구현을 위해 라이브러리 추가 ------------->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script th:inline="javascript">
        const loginMemberNo = /*[[${session.loginMember.memberNo}]]*/ "로그인한 회원 번호";
        const memberNickname = /*[[${session.loginMember.memberNickname}]]*/ "로그인한 회원의 닉네임";
    </script>

    <script th:src="@{/js/chatting/chatting.js}"></script>
</body>

</html>