<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방-팝업</title>

    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/main/resources/static/css/chatting/chatting.css">

    <script src="https://kit.fontawesome.com/1c15543e3e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="chatting-area">
        <ul class="chatting-list">
            <li class="chatting-item">
                <div>
                    <!-- 채팅 프로필 이미지 -->
                    <img src="">
                </div>
                <div>
                    
                </div>
            </li>
        </ul>
    </div>


    <script src="/src/main/resources/static/js/chatting/chatting.js"></script>
</body>
</html>