<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/cartPage/cart.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <th:block th:replace="~{/common/header}">header.html</th:block>

    <main>

        <h1 class="center" style="margin-top: 30px;">장바구니</h1>
        <!-- 장바구니 상품 x -->
        <section th:if="${cartGoodsList == 0}" class="center cart-empty">
            <div>
                <h1>장바구니에 등록된 상품이 없습니다.</h1>
                <a th:href="@{#}">
                    <button id="goToShoppingBtn">
                        <h2>쇼핑 계속하기</h2>
                    </button>
                </a>
            </div>
        </section>

        <!-- 장바구니 상품 o -->
        <section th:unless="${cartGoodsList == 0}" class="center cart-not-empty">
            <!-- 장바구니 상품 목록 -->
            <form th:action="@{#}" method="POST">
                <div class="cart-container">
                    <div th:each="list : ${cartGoodsList}" class="cart-item-row">
                        <!-- 체크박스 -->
                        <div class="item-check">
                            <input type="checkbox" name="selectedGoods" class="selectedGoods">
                        </div>

                        <!-- 상품 대표 이미지 -->
                        <div class="item-img">
                            <img th:src="${list.image.imagePath}+${list.image.imageRename}">
                        </div>

                        <!-- 상품 정보 -->
                        <div class="item-info">
                            <!-- 상품 정보 -->
                            <div>
                                <!-- 상품명 -->
                                <div>
                                    <h1 th:text="${list.boardTitle}">상품 이름</h1>
                                </div>
                                <!-- 상품 가격 -->
                                <div>
                                    <!-- 
                                        th:text="${#numbers.formatDecimal(item.unitPrice, 0, 'COMMA', 0, 'POINT')} + '원'"
                                        DB에는 숫자만 저장하고 값 보여줄 땐 형식 바꿔서 보여주기
                                    -->
                                    <h2 class="total-price"
                                        th:text="${#numbers.formatDecimal(list.goodsPrice , 0, 'COMMA', 0, 'POINT')} + '원'">
                                        상품 가격
                                    </h2>
                                </div>

                            </div>
                            <!-- 상품 수량 -->
                            <!-- 
                                
                                여기 수량하고 가격은 상품 상세페이지에서
                                값 넘겨줘서 기본 value 값 세팅할 예정
                                상품 상세페이지에서 수량 선택, 총 가격 input 에 담아서 
                                장바구니 테이블에 insert 후 그 값 가져와서 기본 값 세팅
                                그리고 수량 변경할 때 마다 비동기로 장바구니 테이블 
                                업데이트 해야함 
                            
                            -->
                            <div class="count-price">
                                <div class="number-input">
                                    <button type="button" class="minus">-</button>
                                    <input type="number" class="quantity" th:value="${list.quantity}" min="1"
                                        th:max="${list.goodsStock}" readonly>
                                    <button type="button" class="plus">+</button>
                                </div>

                            </div>
                        </div>
                        <!-- 해당 굿즈 상품 번호 -->
                        <input type="hidden" name="goodsNo" id="goodsNo" th:value="${list.boardNo}">
                        <!-- 수량이랑 계산해서 초기 값 설정 -->
                        <input type="hidden" name="inputPrice" id="inputPrice" th:value="${list.goodsPrice*list.quantity}">

                        <!-- 삭제 -->
                        <div class="item-delete medium-text">
                            <button type="button" class="text-size-16 medium-text cartDeletebtn" >삭제</button>
                        </div>
                    </div>







                    <div class="cart-header-actions">
                        <input type="checkbox" id="selectAllCheckbox" class="selectAllCheckbox" checked>
                        <label for="selectAllCheckbox">전체 선택</label>
                    </div>

                </div>






                <!-- 결제 금액 보여줄 영역 -->
                <div id="price-area">
                    <div>
                        <h1>결제 금액</h1>
                    </div>
                    <div>
                        <h2>배송비</h2>
                        <h3>무료</h3>
                    </div>
                    <div id="total-price-area">
                        <div>
                            <h2>총 결제 금액</h2>
                        </div>
                        <div>
                            <h2 id="real-total-price">0 원</h2>
                        </div>
                    </div>
                    <input type="hidden" name="realTotalPrice" id="realTotalPrice">

                    <div>
                        <button id="purchaseBtn" class="bold-text text-size-20">선택한 상품 구매하기</button>

                    </div>
                </div>
            </form>


        </section>

    </main>














    <th:block th:replace="~{/common/footer}">footer.html</th:block>
    <th:block th:replace="~{/common/floatingBtn}">floatingBtn.html</th:block>

    <script th:src="@{/js/cartPage/cart.js}"></script>

</body>

</html>