<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>중고 상세</title>

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/joonggoPage/joonggoDetail.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

    <th:block th:text="${joonggo}"></th:block>

    <th:block th:replace="~{/common/header}">header.html</th:block>
    <!-- ----------------------------------------- -->


    <main th:if="${joonggo != null}">
        <section class="center" id="item-detail">
            <div class="noto-sans-kr flex">
                <div>
                    <a th:href="@{#}">홈</a><span> > </span> <a th:href="@{#}" th:text="${joonggo.mainCategory}">메인카테고리</a> <span>> </span> <a th:href="@{#}" th:text="${joonggo.subCategory}">서브카테고리</a>

                </div>
                <div>
                    <a th:href="@{#}"><span>목록으로</span></a>
                </div>
            </div>
            <div id="item-info">
                <div id="image-area">
                    <button id="left-btn"><img th:src="@{/images/svg/왼쪽.svg}"></button>
                    <div id="imageSlide">
                        <img th:each="img : ${joonggo.imageList}" th:src="@{${img.imagePath}}" >
                        

                    </div>
                    <button id="right-btn"><img th:src="@{/images/svg/오른쪽.svg}"></button>
                    <div id="dot-area">
                        <img th:src="@{/images/svg/dot.svg}" class="dot">
                        <img th:each="i : ${#numbers.sequence(1, #lists.size(joonggo.imageList)-1)}" th:src="@{/images/svg/dot.svg}" class="dot opacity">
                    </div>

                </div>

                <div id="info-area">
                    <div class="flex" id="item-title">
                        <h1 th:text="${joonggo.joonggoTitle}"> 게시글 제목</h1>
                        <span><img th:src="@{/images/svg/케밥메뉴.svg}" id="ud-menu"></span>
                        <div class="dropdown-menu">
                            <button id="editBtn">수정하기</button>
                            <button id="deleteBtn">삭제하기</button>
                        </div>
                    </div>
                    <div id="item-price">
                        <h1 th:text="${#numbers.formatDecimal(joonggo.joonggoPrice, 0, 'COMMA', 0, 'POINT')} + '원'"> 중고 상품 가격</h1>
                    </div>
                    <div class="flex" id="item-stats">
                        <div class="flex" id="stats-section">
                            <span id="like-count">
                                <img th:src="@{/images/svg/Heart.svg}">
                                <span th:text="${joonggo.likeCount}">관심수</span>
                            </span>
                            <span id="view-count">
                                <img th:src="@{/images/svg/Eye.svg}">
                                <span th:text="${joonggo.readCount}">조회수</span>
                            </span>
                            <span id="time-ago">
                                <img th:src="@{/images/svg/Clock.svg}">
                                <span th:text="${joonggo.joonggoCreateDate}">올린시간</span>
                            </span>
                        </div>
                        <div id="report-section">
                            <span id="report" class="pointer">
                                <img th:src="@{/images/svg/Siren.svg}">
                                <span class="report-button">신고</span>
                            </span>
                        </div>
                    </div>
                    <div id="item-description">
                        <p class="noto-sans-kr-20" th:text="${joonggo.joonggoContent}">상품 설명</p>
                    </div>
                </div>


            </div>

            <div class="flex">
                <div id="user-profile" class="flex">
                    <div class="flex">
                        <a th:href="@{#}">
                            <!-- 유저 프로필 없을 때 -->
                            <img th:unless="${joonggo.profileImage}" th:src="@{/images/common/user.png}">
                            <!-- 유저 프로필 있을 때 -->
                            <img th:if="${joonggo.profileImage}" th:src="${joonggo.profileImage}">
                        </a>
                        <div class="flex">
                            <a th:href="@{#}" class="nickname" th:text="${joonggo.memberNickname}">판매자 이름</a>
                            <span th:text="${joonggo.defaultDong}">판매자 거주지</span>
                        </div>

                    </div>
                    
                    <div class="rating-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                        <span>4.8</span>
                    </div>

                </div>
                <div id="heart-chatting" class="flex">
                    <i class="fa-regular fa-heart" id="like-heart"></i>
                    <button id="chatting-btn">채팅하기</button>
                </div>
            </div>

        </section>


        <section id="similar-item" class="flex center">
            <button id="left-out-btn"><img th:src="@{/images/svg/왼쪽.svg}"></button>

            <div class="center" id="image-container">
                <div class="flex" id="image-slide">

                    <div th:each="list : ${similarList}" class="similar-items flex direction-column">
                        <a th:href="${list.joonggoNo}">
                            <div class="similar-image-container">
                                <img th:src="${list.imagePath}" >
                            </div>
                            <div class="similar-info-container flex direction-column">
                                <p class="similar-name" th:text="${list.joonggoTitle}">상품 제목</p>
                                <span class="similar-price" th:text="${#numbers.formatDecimal(list.joonggoPrice, 0, 'COMMA', 0, 'POINT')} + '원'">상품 가격</span>
                            </div>
                        </a>
                    </div>
                    

                </div>

            </div>

            <button id="right-out-btn"><img th:src="@{/images/svg/오른쪽.svg}"></button>

        </section>

    </main>



    <th:block th:replace="~{/common/footer}">footer.html</th:block>



    <script th:inline="javascript">
        
        const joonggoNo =/*[[${joonggo.joonggoNo}]]*/ '중고 상품 번호';

    </script>



    <script th:src="@{/js/joonggoPage/joonggoDetail.js}"></script>
</body>

</html>