<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.og.project.afterTradeReview.model.dao.afterTradeReviewMapper">
	
	<!-- 1️. 중고상품/굿즈 후기 본문 INSERT -->
    <!-- <insert id="reviewInsert"
            parameterType="edu.og.project.afterTradeReview.model.dto.ReviewWrite"
            useGeneratedKeys="true"
            keyProperty="reviewNo">  -->
            
    <insert id="reviewInsert" parameterType="ReviewWrite">
		
      <selectKey keyProperty="reviewNo" resultType="long" order="BEFORE">
        SELECT SEQ_REVIEW_NO.NEXTVAL FROM DUAL
      </selectKey>

        INSERT INTO REVIEW (
            REVIEW_NO,
            "COMMENT",
            REVIEW_FILE_PATH,
            REVIEW_FILE_NAME,
            REVIEW_DATE, 
             BUYER_NO,
             BOARD_NO
             
        ) VALUES (
            #{reviewNo},   
            #{comment},
            #{reviewFilePath},
            #{reviewFileName},
            SYSDATE, 
            #{buyerNo},
            #{boardNo}
        )
    </insert>


    <!-- 2️. 중고상품/굿즈 후기 별점 INSERT -->
    <insert id="reviewRatingInsert"
            parameterType="edu.og.project.afterTradeReview.model.dto.ReviewWrite">

        INSERT INTO REVIEW_QUESTION (
            REVIEW_NO,
            QUESTION1,
            QUESTION2,
            QUESTION3,
            QUESTION4
        ) VALUES (
            #{reviewNo},   <!-- 첫 insert에서 set된 reviewNo 사용 -->
            #{question1},
            #{question2},
            #{question3},
            #{question4}
        )
    </insert>
    
    <!-- 3. 중고상품/굿즈 후기작성여부 UPDATE -->
    <update id="reviewFlagUpdate" parameterType="edu.og.project.afterTradeReview.model.dto.ReviewWrite">
		UPDATE TRADE
		SET REVIEW_FL = 'Y'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 중고상품 정보 가져오기 -->
<select id="selectJoonggoReviewInfoMap" parameterType="map" resultType="map">
 
SELECT 
    B.BOARD_TITLE,              
    S.MEMBER_NICKNAME AS SELLERNICKNAME,  
    M.MEMBER_NICKNAME AS BUYERNICKNAME,  
    J.JOONGGO_PRICE, 
    	  (SELECT IMG_PATH || IMG_RENAME FROM IMAGE I
		    WHERE I.BOARD_NO = B.BOARD_NO
		    AND IMG_ORDER = 0) THUMBNAIL        
FROM BOARD B
JOIN JOONGGO J ON B.BOARD_NO = J.BOARD_NO
JOIN TRADE T ON B.BOARD_NO = T.BOARD_NO
JOIN MEMBER S ON T.MEMBER_NO = S.MEMBER_NO  
JOIN MEMBER M ON T.MEMBER_NO2 = M.MEMBER_NO    
WHERE B.BOARD_NO = #{boardNo}

</select>

<!-- 굿즈상품 정보 가져오기 -->
<select id="selectGoodsReviewInfoMap" parameterType="map" resultType="map">
 

SELECT B.BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, GOODS_PRICE, GOODS_STOCK,
		
		    (SELECT IMG_PATH || IMG_RENAME FROM IMAGE I
		    WHERE I.BOARD_NO = B.BOARD_NO
		    AND IMG_ORDER = 0) THUMBNAIL
		    
		FROM "BOARD" B
		JOIN "MEMBER" USING(MEMBER_NO)
		JOIN "GOODS" G ON(G.BOARD_NO = B.BOARD_NO)
		WHERE DELETE_FL = 'N'
		AND B.BOARD_NO = #{boardNo}

</select>

 
 
</mapper>