<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.og.project.afterTradeReview.model.dao.afterTradeReviewMapper">
	
	<!-- 중고상품, 굿즈 후기 삽입-->
	<insert id="afterTradeReviewInsert"  useGeneratedKeys="true">
		
		<selectKey order="BEFORE" resultType="_int" keyProperty="reviewNo">
          SELECT SEQ_REVIEW_NO.NEXTVAL FROM DUAL
        </selectKey>

   
    INSERT INTO REVIEW
    (REVIEW_NO, COMMENT, REVIEW_DATE, REVIEW_FILE_PATH, REVIEW_FILE_NAME, BUYER_NO, BOARD_NO)
    VALUES
    (#{reviewNo}, #{comment}, sysdate, #{reviewFilePath}, #{reviewFileName}, #{memberNo}, #{boardNo})
    
   </insert>
   
   
   <insert id="afterTradeReviewQuestionInsert">
    INSERT INTO REVIEW_QUESTION
    (REVIEW_NO, QUESTION1, QUESTION2, QUESTION3, QUESTION4)
    VALUES
    (#{reviewNo}, #{question1}, #{question2}, #{question3}, #{question4});
    </insert>
	
	
</mapper>