<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.og.project.temp.model.MemberMapper">
	

	<!-- 로그인  -->
	<select id="login" resultType="Member">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NAME,
			MEMBER_NICKNAME, MEMBER_TEL, POST_CODE, LOAD_ADDRESS,
			DETAIL_ADDRESS, DEFAULT_DONG, PROFILE_PATH, 
			TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS ENROLL_DATE
		FROM MEMBER
		WHERE SECESSIONFL = 'N'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
</mapper>