<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.og.project.trade.dao.TradeMapper">

	<!-- 거래완료 trade table insert -->
	<insert id="tradeComplete">
		INSERT INTO TRADE (
			TRADE_NO, MEMBER_NO, MEMBER_NO2, TRADE_DATE, REVIEW_FL, BOARD_NO)
		VALUES(SEQ_TRADE_NO.NEXTVAL, (SELECT PARTCIPANT FROM CHATTING_ROOM WHERE CHATTING_NO = ${chattingNo}), 
		()SELECT OPEN_MEMBER FROM CHATTING_ROOM WHERE CHATTING_NO = ${chattingNo}), DEFAULT, DEFAULT, #{boardNo});
	</insert>

</mapper>
