<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>굿즈 상품 주문 페이지</title>

    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/font.css}">
    <link rel="stylesheet" th:href="@{/css/orderPage/order.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
</head>

<body>
    <th:block th:replace="~{/common/header}">header.html</th:block>

    <main>

        <th:blocl th:text="${orderList}">제발요</th:blocl>


        <!-- 주문 정보-->
        <section class="center order-info-area">
            <!-- 장바구니 상품 목록 -->
            <h1 class="center" style="margin-top: 10px;">주문자 정보</h1>
            <form action="">
                <div class="order-container">
                    <div class="orderer-info">
                        <input type="text" name="ordererName" class="text-size-24 bold-text" th:value="${session.loginMember.memberName}" required>
                        <input type="text" name="ordererTel" class="text-size-24 bold-text" th:value="${session.loginMember.memberTel}" required>
                        <input type="text" name="ordererEmail" class="text-size-24 bold-text" th:value="${session.loginMember.memberEmail}" required>
                    </div>


                    <h1 class="center" style="margin-top: 10px;">수령인 정보</h1>
                    <div class="recipient-info">
                        <!-- 수령인 이름 -->
                        <label for="recipientName">
                            <h2 style="margin: 10px 0 20px 30px;" ><span class="required">*</span>수령인 이름</h2>
                        </label>
                        <input type="text" name="recipientName" id="recipientName" th:value="${session.loginMember.memberName}" placeholder="성함" required>
                        <!-- 수령인 전화번호 -->
                        <label for="recipientTel">
                            <h2 style="margin: 10px 0 20px 30px;"><span class="required">*</span>수령인 전화번호</h2>
                        </label>
                        <input type="text" name="recipientTel" id="recipientTel" th:value="${session.loginMember.memberTel}" placeholder="전화번호" required>
                        <!-- 수령인 주소 -->

                        <label for="memberAddress" class="bold-text" style="margin: 10px 0 20px 30px; font-size: 24px;">
                            <span class="required">*</span> 배송지
                        </label>


                        <div class="delivery-input-area">
                            <input type="text" name="postcode" placeholder="우편번호" th:value="${session.loginMember.postCode}" required maxlength="6" id="sample6_postcode">

                            <button type="button" onclick="sample6_execDaumPostcode()">검색</button>
                        </div>


                        <div class="delivery-input-area">
                            <input type="text" name="addressBase" th:value="${session.loginMember.loadAddress}" required placeholder="도로명/지번 주소" id="sample6_address">
                        </div>


                        <div class="delivery-input-area">
                            <input type="text" name="addressDetail" th:value="${session.loginMember.detailAddress}" required placeholder="상세 주소" id="sample6_detailAddress">
                        </div>

                    </div>




                    <h1 class="center" style="margin-top: 10px;">주문 상품</h1>
                    <div class="order-item">
                        <div class="order-item-row" th:each="item : ${orderList}">
                            <!-- 상품 대표 이미지 -->
                            <div class="item-img">
                                <img th:src="${item.image.imagePath} + ${item.image.imageRename}" >
                            </div>

                            <!-- 상품명 -->
                            <div class="goodsName">
                                <h3 th:text="${item.boardTitle}">상품 이름</h3>
                            </div>
                            <!-- 상품 수량 -->
                            <div class="count-price">
                                <div class="number-input">
                                    <button type="button" class="minus">-</button>
                                    <input type="number" class="quantity" th:value="${item.quantity}" min="1" th:max="${item.goodsStock}" readonly>
                                    <button type="button" class="plus">+</button>
                                </div>

                            </div>

                            <!-- 상품 가격 -->
                            <div>
                                <h2 class="total-price"  th:text="${item.goodsPrice}">상품 가격</h2>
                            </div>

                            <input type="hidden" name="boardNo" th:value="${item.boardNo}">
                            <input type="hidden" name="inputPrice" th:value="${item.goodsPrice * item.quantity}">
                            <!-- 삭제 -->
                            <div class="item-delete medium-text">
                                <button type="button" class="text-size-16 medium-text">삭제</button>
                            </div>

                        </div>
                        



                    </div>


                    <!-- 좀 밋밋한 느낌 결제수단을 
                        결제 대행사에서 제공해준다곤 하는데 그럼 굳이 이 영역이 필요한가 ? 싶음
                    -->
    <!--                 <h1>결제수단</h1>
                    <div class="pay-method">
                        <label class="payment-option-item">
                            <input type="radio" name="paymentMethod" value="CARD" checked>
                            <span class="custom-radio"></span>
                            신용 / 체크 카드 결제
                        </label>

                        <label class="payment-option-item">
                            <input type="radio" name="paymentMethod" value="TRANSFER">
                            <span class="custom-radio"></span>
                            계좌 이체
                        </label>

                        <label class="payment-option-item">
                            <input type="radio" name="paymentMethod" value="MOBILE">
                            <span class="custom-radio"></span>
                            핸드폰 결제
                        </label>

                        <label class="payment-option-item">
                            <input type="radio" name="paymentMethod" value="EASY_PAY">
                            <span class="custom-radio"></span>
                            간편 결제
                        </label>

                    </div> -->

                </div>




                </div>






                <!-- 결제 금액 보여줄 영역 -->
                <div id="price-area">
                    <div>
                        <h1>결제 금액</h1>
                    </div>
                    <div>
                        <h2>배송비</h2>
                        <h3>무료</h3>
                    </div>
                    <div id="total-price-area">
                        <div>
                            <h2>총 결제 금액</h2>
                        </div>
                        <div>
                            <h2 id="real-total-price" th:text="${totalPrice}">총 가격</h2>
                        </div>
                    </div>
                    <input type="hidden" name="realTotalPrice" id="realTotalPrice">
                    
                    <div>
                        <button id="purchaseBtn" class="bold-text text-size-20" >결제하기</button>

                    </div>
                </div>
            </form>


        </section>

    </main>













    <th:block th:replace="~{/common/footer}">footer.html</th:block>
   
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }


                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>


    <script th:src="@{/js/order/order.js}"></script>

</body>

</html>